<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>包厢（桌号）设置</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="css/common.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/mui.min.css"/>
		<link rel="stylesheet" href="css/reset.css">
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script src="js/hmt.js" type="text/javascript"></script>
	</head>
	<body>
		<header class="hasManyCity hasManyCitytwo" id="header">
			<a href="javascript:history.go(-1)" class="fl fanhui"><i class="iconfont icon-fanhui"></i></a>
			<div class="header-tit">
				包厢（桌号）设置
			</div>		
		</header>
		<div id="container">		
			<div id="main">
		    	<div class="plist clearfloat data">
					<ul>
						<li class="clearfloat">
								<p class="fl">店铺房间号</p>
								<input type="text" class="fr shuru" name="" id=""  placeholder="填写房间号" />
						</li>
						<li class="clearfloat">
								<p class="fl">店铺包厢号</p>
								<input type="text" class="fr shuru" name="" id=""  placeholder="填写包厢号" />
						</li>
						<li class="clearfloat">
								<p class="fl">店铺卡座号</p>
								<input type="text" class="fr shuru" name="" id=""  placeholder="填写卡座号" />
						</li>
					</ul>
				</div>
				<a href="#" class="center-btn db ra3" style="margin-top: 20px;">确定修改</a>
			</div>
	    </div>
	</body>
</html>
