<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>美食模板</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="css/common.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<!--<link rel="stylesheet" type="text/css" href="css/mui.min.css"/>-->
		<link rel="stylesheet" href="css/reset.css">
		<!--<link rel="stylesheet" type="text/css" href="css/newin.css"/>-->
		<link rel="stylesheet" type="text/css" href="css/otherpagecontent.css"/>
		<!--<link rel="stylesheet" type="text/css" href="css/lla.css"/>-->
		<script src="js/swipe.js"></script>
		<script src="js/jquery.min.js"  type="text/javascript"></script>
		<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="js/jquery.event.drag-1.5.min.js"></script>
<script type="text/javascript" src="js/jquery.touchSlider.js"></script>
<script type="text/javascript">
$(document).ready(function(){

//	$(".main_visual").hover(function(){
//		$("#btn_prev,#btn_next").fadeIn()
//	},function(){
//		$("#btn_prev,#btn_next").fadeOut()
//	});
	
	$dragBln = false;
	
	$(".main_image").touchSlider({
		flexible : true,
		speed : 200,
//		btn_prev : $("#btn_prev"),
//		btn_next : $("#btn_next"),
//		paging : $(".flicking_con a"),
//		counter : function (e){
//			$(".flicking_con a").removeClass("on").eq(e.current-1).addClass("on");
//		}
	});
	
	$(".main_image").bind("mousedown", function() {
		$dragBln = false;
	});
	
	$(".main_image").bind("dragstart", function() {
		$dragBln = true;
	});
	
	$(".main_image a").click(function(){
		if($dragBln) {
			return false;
		}
	});
	
//	timer = setInterval(function(){
//		$("#btn_next").click();
//	}, 5000);
	
//	$(".main_visual").hover(function(){
//		clearInterval(timer);
//	},function(){
//		timer = setInterval(function(){
//			$("#btn_next").click();
//		},5000);
//	});
	
	$(".main_image").bind("touchstart",function(){
//		clearInterval(timer);
	}).bind("touchend", function(){
		timer = setInterval(function(){
			$("#btn_next").click();
		}, 5000);
	});
	
});
</script>
		<script type="text/javascript">
		$(function(){
				$(".dc-width").click(function(){
					$(this).addClass("curr").siblings().removeClass("curr");
					$("#diancai").show();
					$("#pinglun").hide();
					$("#shangjia").hide();
					$(".main_visual").show();
				});
				$(".pj-width").click(function(){
					$(this).addClass("curr").siblings().removeClass("curr");
					$("#diancai").hide();
					$("#pinglun").show();
					$("#shangjia").hide();
					$(".main_visual").show();
				});
				$(".sj-width").click(function(){
					$(this).addClass("curr").siblings().removeClass("curr");
					$("#diancai").hide();
					$("#pinglun").hide();
					$("#shangjia").show();
					$(".main_visual").hide();
				});

				$(".shangpinlist").click(function(){
					
					$(this).addClass("bg-white").siblings().removeClass("bg-white");
				})
				
				$(".eat-infor-p3-sp2").click(function(){
					$(".add-zixuan-window").show();
				})
				$(".zixuan-window2 div input").click(function(){
					$(".add-zixuan-window").hide();
				})
				
			})
		</script>
	</head>
	<body>
		<header class="hasManyCity hasManyCitytwo" id="header">
			<a href="javascript:history.go(-1)" class="fl fanhui"><i class="iconfont icon-fanhui"></i></a>
			<div class="header-tit">
				美食店
			</div>	
			<a href="huifu.html" class="fr shoucang sousuo"><i class="iconfont icon-kefu1"></i></a>
			<!--<a href="shopcar.html" class="fr shoucang sousuo gouwucart"><img src="images/cart-1 (1).png" /></a>-->
		</header>
		
		<!--主要内容-->
		<div class="content1">
			<div class="dianjia-infor">
				<div class="dianjia-infor-1">
					<img src="images/dndc.png" />
					<p>起送￥20 | 配送￥6 |送达30分钟<br />请大家认准美食店</p>
					<div style="clear: both;"></div>
				</div>
				<p class="dianjia-infor-2">在线支付20元满20减2元，满25减3元，满35减4元</p>
				<p class="dianjia-infor-2">新用户立减17元</p>
			</div>
			<div class="diancai">
				<span class="diancai-1 dc-width curr">点菜</span>
				<span class="diancai-1 pj-width">活动</span>
				<span class="diancai-1 sj-width">商家</span>
			</div>
			<!--点菜-->
			<div class="content1-con" id="diancai" style="display: block;">
				<div class="general-con">
				<ul>
					<li>
						<a href="productxq-2.html">
							<div class="con-dimg">
								<img src="img/thumb_5625b9db0693f.jpg"/>
							</div>
						</a>
						<div class="con-dword" style="position: relative;">
							<a href="productxq-2.html">
								<p class="con-dword-p1">鲁花5S一级花生油5L 食用油 赠送900ml花生油</p>
								<p class="con-dword-p2">月销  5.6万笔</p>
							</a>
							<p class="con-dword-p3">
								<span class="con-dword-p3-money" style="position: absolute;bottom: 0;left: 0;">￥165.9</span>
								<div class="con-dword-p3-cart" style="position: absolute;bottom: 6px;right: 0;">
									<div class="number-num">
									<div class="reduce fl"><img src="img/jian.png"/></div>
									<div class="shusu fl"><input type="text" value="1"></div>
									<div class="add fl"><img src="img/jia.png"/></div>
								</div>
								</div>
								<div style="clear: both;"></div>
							</p>
						</div>
						<div style="clear: both;"></div>
					</li>
					<li>
						<a href="productxq-2.html">
							<div class="con-dimg">
								<img src="img/thumb_5625b9db0693f.jpg"/>
							</div>
						</a>
						<div class="con-dword" style="position: relative;">
							<a href="productxq-2.html">
								<p class="con-dword-p1">鲁花5S一级花生油5L 食用油 赠送900ml花生油</p>
								<p class="con-dword-p2">月销  5.6万笔</p>
							</a>
							<p class="con-dword-p3">
								<span class="con-dword-p3-money" style="position: absolute;bottom: 0;left: 0;">￥165.9</span>
								<div class="con-dword-p3-cart" style="position: absolute;bottom: 6px;right: 0;">
									<div class="number-num">
									<div class="reduce fl"><img src="img/jian.png"/></div>
									<div class="shusu fl"><input type="text" value="1"></div>
									<div class="add fl"><img src="img/jia.png"/></div>
								</div>
								</div>
								<div style="clear: both;"></div>
							</p>
						</div>
						<div style="clear: both;"></div>
					</li>
					<li>
						<a href="productxq-2.html">
							<div class="con-dimg">
								<img src="img/thumb_5625b9db0693f.jpg"/>
							</div>
						</a>
						<div class="con-dword" style="position: relative;">
							<a href="productxq-2.html">
								<p class="con-dword-p1">鲁花5S一级花生油5L 食用油 赠送900ml花生油</p>
								<p class="con-dword-p2">月销  5.6万笔</p>
							</a>
							<p class="con-dword-p3">
								<span class="con-dword-p3-money" style="position: absolute;bottom: 0;left: 0;">￥165.9</span>
								<div class="con-dword-p3-cart" style="position: absolute;bottom: 6px;right: 0;">
									<div class="number-num">
									<div class="reduce fl"><img src="img/jian.png"/></div>
									<div class="shusu fl"><input type="text" value="1"></div>
									<div class="add fl"><img src="img/jia.png"/></div>
								</div>
								</div>
								<div style="clear: both;"></div>
							</p>
						</div>
						<div style="clear: both;"></div>
					</li>
					<li>
						<a href="productxq-2.html">
							<div class="con-dimg">
								<img src="img/thumb_5625b9db0693f.jpg"/>
							</div>
						</a>
						<div class="con-dword" style="position: relative;">
							<a href="productxq-2.html">
								<p class="con-dword-p1">鲁花5S一级花生油5L 食用油 赠送900ml花生油</p>
								<p class="con-dword-p2">月销  5.6万笔</p>
							</a>
							<p class="con-dword-p3">
								<span class="con-dword-p3-money" style="position: absolute;bottom: 0;left: 0;">￥165.9</span>
								<div class="con-dword-p3-cart" style="position: absolute;bottom: 6px;right: 0;">
									<div class="number-num">
									<div class="reduce fl"><img src="img/jian.png"/></div>
									<div class="shusu fl"><input type="text" value="1"></div>
									<div class="add fl"><img src="img/jia.png"/></div>
								</div>
								</div>
								<div style="clear: both;"></div>
							</p>
						</div>
						<div style="clear: both;"></div>
					</li>
					<li>
						<a href="productxq-2.html">
							<div class="con-dimg">
								<img src="img/thumb_5625b9db0693f.jpg"/>
							</div>
						</a>
						<div class="con-dword" style="position: relative;">
							<a href="productxq-2.html">
								<p class="con-dword-p1">鲁花5S一级花生油5L 食用油 赠送900ml花生油</p>
								<p class="con-dword-p2">月销  5.6万笔</p>
							</a>
							<p class="con-dword-p3">
								<span class="con-dword-p3-money" style="position: absolute;bottom: 0;left: 0;">￥165.9</span>
								<div class="con-dword-p3-cart" style="position: absolute;bottom: 6px;right: 0;">
									<div class="number-num">
									<div class="reduce fl"><img src="img/jian.png"/></div>
									<div class="shusu fl"><input type="text" value="1"></div>
									<div class="add fl"><img src="img/jia.png"/></div>
								</div>
								</div>
								<div style="clear: both;"></div>
							</p>
						</div>
						<div style="clear: both;"></div>
					</li>
					<li>
						<a href="productxq-2.html">
							<div class="con-dimg">
								<img src="img/thumb_5625b9db0693f.jpg"/>
							</div>
						</a>
						<div class="con-dword" style="position: relative;">
							<a href="productxq-2.html">
								<p class="con-dword-p1">鲁花5S一级花生油5L 食用油 赠送900ml花生油</p>
								<p class="con-dword-p2">月销  5.6万笔</p>
							</a>
							<p class="con-dword-p3">
								<span class="con-dword-p3-money" style="position: absolute;bottom: 0;left: 0;">￥165.9</span>
								<div class="con-dword-p3-cart" style="position: absolute;bottom: 6px;right: 0;">
									<div class="number-num">
									<div class="reduce fl"><img src="img/jian.png"/></div>
									<div class="shusu fl"><input type="text" value="1"></div>
									<div class="add fl"><img src="img/jia.png"/></div>
								</div>
								</div>
								<div style="clear: both;"></div>
							</p>
						</div>
						<div style="clear: both;"></div>
					</li>
					<li>
						<a href="productxq-2.html">
							<div class="con-dimg">
								<img src="img/thumb_5625b9db0693f.jpg"/>
							</div>
						</a>
						<div class="con-dword" style="position: relative;">
							<a href="productxq-2.html">
								<p class="con-dword-p1">鲁花5S一级花生油5L 食用油 赠送900ml花生油</p>
								<p class="con-dword-p2">月销  5.6万笔</p>
							</a>
							<p class="con-dword-p3">
								<span class="con-dword-p3-money" style="position: absolute;bottom: 0;left: 0;">￥165.9</span>
								<div class="con-dword-p3-cart" style="position: absolute;bottom: 6px;right: 0;">
									<div class="number-num">
									<div class="reduce fl"><img src="img/jian.png"/></div>
									<div class="shusu fl"><input type="text" value="1"></div>
									<div class="add fl"><img src="img/jia.png"/></div>
								</div>
								</div>
								<div style="clear: both;"></div>
							</p>
						</div>
						<div style="clear: both;"></div>
					</li>
				</ul>
			</div>
				<div style="clear: both;"></div>
			</div>
			
			<!--活动-->
			<div id="pinglun" style="margin-bottom: 10px;display:none;">		
				<div id="main" style="padding-top: 10px; transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
				    <div class="coupons clearfloat box-s">
						<div class="list clearfloat fl">
							<div class="left clearfloat fl">
								<span>¥</span>10
							</div>
							<div class="right clearfloat fl box-s">
								<p class="tit">
									单笔订单满100元使用
								</p>
								<p class="time">
									有效时间：2016.11.01-2016.11.30
								</p>
							</div>
						</div>
						<div class="list clearfloat fl">
							<div class="left clearfloat fl">
								<span>¥</span>10
							</div>
							<div class="right clearfloat fl box-s">
								<p class="tit">
									单笔订单满100元使用
								</p>
								<p class="time">
									有效时间：2016.11.01-2016.11.30
								</p>
							</div>
						</div>
						<div class="list clearfloat fl">
							<div class="left leftwo clearfloat fl">
								<span>¥</span>10
							</div>
							<div class="right clearfloat fl box-s">
								<p class="tit">
									单笔订单满100元使用
								</p>
								<p class="time">
									有效时间：2016.11.01-2016.11.30
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="undis" style="display: block;"> 
			</div>
			
			</div>
			<!--商家-->
			<div class="container" id="shangjia" style="margin-bottom: 10px;display: none;">
				 <div style="height:7px;"></div>
				 <div style="background-color:#FFFFFF;" align="center">
				 	<table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
						  <tbody><tr>
						    <td style="border-bottom:1px #ecedf1 solid;">
						    	<a href="">
						    		<div align="left" style="font-family:'微软雅黑','YaHei'; font-size:15px; color:#333333;">
						    			<img src="picture/20160416-pic002.jpg" width="50" style="vertical-align:middle;" />
						    			09:00-次日03:00
						    		</div>
						    	</a>
						    </td>
						  </tr>
						 <tr>
						    <td style="border-bottom:1px #ecedf1 solid;"><a href=""><div align="left" style="font-family:'微软雅黑','YaHei'; font-size:15px; color:#333333;"><img src="picture/20160416-pic003.jpg" width="50" style="vertical-align:middle;">3号楼108室</div>
						    </a></td>
						  </tr>
						   <tr>
						    <td style="border-bottom:1px #ecedf1 solid;"><a href="tel:undefined"><div align="left" style="font-family:'微软雅黑','YaHei'; font-size:15px; color:#333333;"><img src="picture/20160416-pic004.jpg" width="50" style="vertical-align:middle;">18801338854</div>
						    </a></td>
						  </tr>
						  <tr>
						    <td style="border-bottom:1px #ecedf1 solid;"><a href=""><div align="left" style="font-family:'微软雅黑','YaHei'; font-size:15px; color:#333333;"><img src="picture/20160416-pic005.jpg" width="50" style="vertical-align:middle;">超时敢赔，晚30分钟5折赔付</div>
						    </a></td>
						  </tr>
						</tbody>
				 	</table>
				</div>
			  	<div style="height:10px;"></div>	
			   <div style="background-color:#FFFFFF;" align="center">
				   	<table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
						  <tbody><tr>
						    <td style="border-bottom:1px #ecedf1 solid;"><a href=""><div align="left" style="font-family:'微软雅黑','YaHei'; font-size:15px; color:#333333;"><img src="picture/20160416-pic006.jpg" width="50" style="vertical-align:middle;">在线支付满100元减2元，满200元减5元</div></a></td>
						  </tr>
						 <tr>
						    <td style="border-bottom:1px #ecedf1 solid;"><a href=""><div align="left" style="font-family:'微软雅黑','YaHei'; font-size:15px; color:#333333;"><img src="picture/20160416-pic007.jpg" width="50" style="vertical-align:middle;">在线支付赠送等额积分</div>
						    </a></td>
						  </tr>
						   <tr>
						    <td style="border-bottom:1px #ecedf1 solid;"><a href="tel:undefined"><div align="left" style="font-family:'微软雅黑','YaHei'; font-size:15px; color:#333333;"><img src="picture/20160416-pic008.jpg" width="50" style="vertical-align:middle;">新用户在线支付满100元减5元</div>
						    </a></td>
						  </tr>
						
						</tbody>
				   	</table>
				</div>
			  </div>
			  <div class="main_visual">
			<div class="main_image">
				<ul>
					<li>
						<div class="itemLi">
          					<div class="item2">
          						<a href="indiana-detail-1.html">
            					<div class="left newzj1">
              						<img src="images/20151105134459304.jpg">
              						<span>支付宝/微信/QQ现金红包100元联系微信或</span>
              						<p>￥1</p>
            					</div>
            					</a>
            					<a href="indiana-detail-1.html">
           						<div class="left newzj1">
              						<img src="images/20160309144549666.jpg">
              						<span>支付宝/微信/QQ现金红包100元联系微信或</span>
              						<p>￥1</p>
            					</div>
            					</a>
            					<a href="indiana-detail-1.html">
								<div class="left newzj1">
              						<img src="images/20150422141022559.jpg">
              						<span>支付宝/微信/QQ现金红包100元联系微信或</span>
              						<p>￥1</p>
            					</div>
            				</a>
          					</div>
        				</div>
					</li>
					<li>
						<div class="itemLi">
          					<div class="item2">
          						<a href="indiana-detail-1.html">
            					<div class="left newzj1">
              						<img src="images/20151105134459304.jpg">
              						<span>支付宝/微信/QQ现金红包100元联系微信或</span>
              						<p>￥1</p>
            					</div>
            					</a>
            					<a href="indiana-detail-1.html">
           						<div class="left newzj1">
              						<img src="images/20160309144549666.jpg">
              						<span>支付宝/微信/QQ现金红包100元联系微信或</span>
              						<p>￥1</p>
            					</div>
            					</a>
            					<a href="indiana-detail-1.html">
								<div class="left newzj1">
              						<img src="images/20150422141022559.jpg">
              						<span>支付宝/微信/QQ现金红包100元联系微信或</span>
              						<p>￥1</p>
            					</div>
            				</a>
          					</div>
        				</div>
					</li>
					<li>
						<div class="itemLi">
          					<div class="item2">
          						<a href="indiana-detail-1.html">
            					<div class="left newzj1">
              						<img src="images/20151105134459304.jpg">
              						<span>支付宝/微信/QQ现金红包100元联系微信或</span>
              						<p>￥1</p>
            					</div>
            					</a>
            					<a href="indiana-detail-1.html">
           						<div class="left newzj1">
              						<img src="images/20160309144549666.jpg">
              						<span>支付宝/微信/QQ现金红包100元联系微信或</span>
              						<p>￥1</p>
            					</div>
            					</a>
            					<a href="indiana-detail-1.html">
								<div class="left newzj1">
              						<img src="images/20150422141022559.jpg">
              						<span>支付宝/微信/QQ现金红包100元联系微信或</span>
              						<p>￥1</p>
            					</div>
            				</a>
          					</div>
        				</div>
					</li>
				</ul>
			</div>
		</div>
		</div>
<div class="footer-shop">
			<div class="shop-left fl"><p><span>0</span>个商品，<span>0.00</span>元</p></div>
	    	<div class="shop-right fr"><a href="shopcar-2.html">选好了</a></div>
	    	<div class="clear"></div>
		</div>
	</body>
</html>
