<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>会员等级</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="css/common.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" href="css/reset.css">
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script src="js/hmt.js" type="text/javascript"></script>
	</head>
	<body>
		<!--header star-->
		<header class="hasManyCity hasManyCitytwo" id="header">
			<a href="javascript:history.go(-1)" class="fl fanhui"><i class="iconfont icon-fanhui"></i></a>
			<div class="header-tit">
				会员等级
			</div>		
		</header>
	    <!--header end-->
	    <div id="container">		
			<div id="main">
			    <div class="hydj">
			    	<div class="hydj-top">
			    		<img src="images/20160822155218592.jpg">
			    		<p>您当前会员等级：铁牌</p>
			    		<p>您当前消费：30元</p>
			    	</div>
			    	<h2>会员等级规则</h2>
			    	<p>铁牌：消费1-100元</p>
			    	<p>铜牌：消费101-1000元</p>
			    	<p>银牌：消费1001-10000元</p>
			    	<p>金牌：消费10001-100000元</p>
			    	<p>白金：消费100001-1000000元</p>
			    	<p>钻石：消费1000001-10000000元</p>
			    	<p>金钻：消费10000001-100000000元</p>
			    	
			    </div>
			</div>
		</div>
	
		
	</body>
</html>

