<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>首页</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="css/common.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/mui.min.css"/>
		<link rel="stylesheet" href="css/reset.css">
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/iscroll.js"></script>
		<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
		<script src="js/hmt.js" type="text/javascript"></script>
		<script type="text/javascript" src="js/index.js"></script>
		<script src="js/swiper.min.js" type="text/javascript" ></script>
	</head>

	<body>
		<header class="hasManyCity" id="header">
			<div id="" class="cityBtn">宿州</div>
			<div id="locaitonBtn" class="link-url locaitonBtn"></div>
			<div id="" class="searchBox">
				<a href="search.html">
					<i class="icon-search"></i>
					<span>请输入您想找的内容</span>
				</a>
			</div>
			<div id="" class="qrcodeBtn"></div>
		</header>
		<div id="container">		
			<div id="main">
				<div id="scroller">
					<section class="banner">
						<div class="swiper-container swiper-container1">
							<div class="swiper-wrapper bannerwidth">
								<div class="swiper-slide swiper-slide-duplicate">
									<a href="#">
										<img src="img/55dec2a5c2fa3.png">
									</a>
								</div>
								<div class="swiper-slide">
									<a href="#">
										<img src="img/55dec2a5c2fa3.png">
									</a>
								</div>
								<div class="swiper-slide swiper-slide-duplicate">
									<a href="#">
										<img src="img/55dec2a5c2fa3.png">
									</a>
								</div>
								<div class="swiper-slide">
									<a href="#">
										<img src="img/55dec2a5c2fa3.png">
									</a>
								</div>
							</div>
							<div class="swiper-pagination swiper-pagination1">
							</div>
						</div>
					</section>
					<section class="slider">
						<div class="swiper-container swiper-container2">
							<div class="swiper-wrapper tuangouwidth">
								<div class="swiper-slide swiper-slide-duplicate">
									<ul class="icon-list">
										<li class="icon">
											<a href="shangjialist.html">
												<span class="icon-circle">
													<img src="img/food.png">
												</span>
												<span class="icon-desc">美食</span>
											</a>
										</li>
										<li class="icon">
											<a href="shangjialist.html">
												<span class="icon-circle">
													<img src="img/takeaway.png">
												</span>
												<span class="icon-desc">外卖</span>
											</a>
										</li>
										<li class="icon">
											<a href="shangjialist-1.html">
												<span class="icon-circle">
													<img src="img/20150907150814grouponshan.png">
												</span>
												<span class="icon-desc">购物•专卖</span>
											</a>
										</li>
										<li class="icon">
											<a href="shangjialist-1.html">
												<span class="icon-circle">
													<img src="img/20150825182317sport.png">
												</span>
												<span class="icon-desc">微商代购</span>
											</a>
										</li>
										<li class="icon">
											<a href="shangjialist-1.html">
												<span class="icon-circle">												
													<img src="img/shoppingmall.png">
												</span>
												<span class="icon-desc">超市•商店</span>
											</a>
										</li>
										<li class="icon">
											<a href="shangjialist-2.html">
												<span class="icon-circle">												
													<img src="img/201512231819241.png">
												</span>
												<span class="icon-desc">丽人•健身</span>
											</a>
										</li>
										<li class="icon">
											<a href="shangjialist-2.html">
												<span class="icon-circle">
													<img src="img/relax.png">
												</span>
												<span class="icon-desc">休闲娱乐</span>
											</a>
										</li>
										<li class="icon">
											<a href="shangjialist-2.html">
												<span class="icon-circle">
													<img src="img/baby.png">
												</span>
												<span class="icon-desc">母婴服务</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="swiper-slide swiper-slide-duplicate">
									<ul class="icon-list">
										<li class="icon">
											<a href="shangjialist.html">
												<span class="icon-circle">
													<img src="img/coffee.png">
												</span>
												<span class="icon-desc">咖啡茶点</span>
											</a>
										</li>
										<li class="icon">
											<a href="shangjialist-2.html">
												<span class="icon-circle">
													<img src="img/20150602180637hotel.png">
												</span>
												<span class="icon-desc">酒店宾馆</span>
											</a>
										</li>
										<li class="icon">
											<a href="shangjialist-2.html">
												<span class="icon-circle">
													<img src="img/20150818162416homework.png">
												</span>
												<span class="icon-desc">生活服务</span>
											</a>
										</li>
										<li class="icon">
											<a href="shangjialist-2.html">
												<span class="icon-circle">
													<img src="img/20150706203042book.png">
												</span>
												<span class="icon-desc">教育培训</span>
											</a>
										</li>
										<li class="icon">
											<a href="shangjialist-2.html">
												<span class="icon-circle">												
													<img src="img/jiazhuang.png">
												</span>
												<span class="icon-desc">家装装饰</span>
											</a>
										</li>
										<li class="icon">
											<a href="shangjialist-2.html">
												<span class="icon-circle">												
													<img src="img/car.png">
												</span>
												<span class="icon-desc">汽车养护</span>
											</a>
										</li>
										<li class="icon">
											<a href="shangjialist-2.html">
												<span class="icon-circle">
													<img src="img/20150818101217icon_village.png">
												</span>
												<span class="icon-desc">房产楼房</span>
											</a>
										</li>
										<li class="icon">
											<a href="shangjialist-2.html">
												<span class="icon-circle">
													<img src="img/more.png">
												</span>
												<span class="icon-desc">其他</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="swiper-pagination swiper-pagination2">
							</div>
						</div>
					</section>
					
				</div>
							
				<div id="index" class="page-center-box">
					<div>				
						<!--首页限时抢购开始-->
						<div class="sy_title"><span class="left">1元夺购</span>
							<div class="sy_limit_buy_time left">
								<em class="ico"></em>
								距离结束
								<span class="time" remaintime="1442800030">
									<span>00</span>天
									<span>00</span>时
									<span>00</span>分
									<span>00</span>秒
								</span>
							</div>
						</div>
						<div class="sy_limit_buy mb10">
							<div class="locatLabel_switch swiper-container5 swiper-container-horizontal swiper-container-free-mode swiper-container-android">
								<div class="swiper-wrapper">
									<div class="box swiper-slide">
										<a href="indiana-detail-1.html">
											<img src="img/21.jpg" width="" height="">
											<p class="txt_center overflow_clear">电视</p>
											<p class="txt_center fontcl1">¥1<small class="ml10"><del class="black9">￥60</del></small></p>
										</a>
									</div>
									<div class="box swiper-slide">
										<a href="indiana-detail-1.html">
											<img src="img/19.jpg" width="" height="">
											<p class="txt_center overflow_clear">电脑</p>
											<p class="txt_center fontcl1">¥1<small class="ml10"><del class="black9">￥60</del></small></p>
										</a>
									</div>
									<div class="box swiper-slide">
										<a href="indiana-detail-1.html">
											<img src="img/22.jpg" width="" height="">
											<p class="txt_center overflow_clear">彩电</p>
											<p class="txt_center fontcl1">¥1<small class="ml10"><del class="black9">￥60</del></small></p>
										</a>
									</div>
									<div class="box swiper-slide">
										<a href="indiana-detail-1.html">
											<img src="img/22.jpg" width="" height="">
											<p class="txt_center overflow_clear">电冰箱</p>
											<p class="txt_center fontcl1">¥1<small class="ml10"><del class="black9">￥60</del></small></p>
										</a>
									</div>
									<div class="box swiper-slide">
										<a href="indiana-detail-1.html">
											<img src="img/22.jpg" width="" height="">
											<p class="txt_center overflow_clear">电水壶</p>
											<p class="txt_center fontcl1">¥1<small class="ml10"><del class="black9">￥60</del></small></p>
										</a>
									</div>
									<div class="box swiper-slide">
										<a href="indiana-detail-1.html">
											<img src="img/21.jpg" width="" height="">
											<p class="txt_center overflow_clear">电热毯</p>
											<p class="txt_center fontcl1">¥1<small class="ml10"><del class="black9">￥60</del></small></p>
										</a>
									</div>
									<div class="box swiper-slide">
										<a href="indiana-detail-1.html">
											<img src="img/21.jpg" width="" height="">
											<p class="txt_center overflow_clear">苹果7</p>
											<p class="txt_center fontcl1">¥1<small class="ml10"><del class="black9">￥60</del></small></p>
										</a>
									</div>
									<div class="box swiper-slide">
										<a href="indiana-detail-1.html">
											<img src="img/21.jpg" width="" height="">
											<p class="txt_center overflow_clear">7PLUS</p>
											<p class="txt_center fontcl1">¥1<small class="ml10"><del class="black9">￥60</del></small></p>
										</a>
									</div>
									<div class="box swiper-slide">
										<a href="indiana-detail-1.html">
											<img src="img/21.jpg" width="" height="">
											<p class="txt_center overflow_clear">小米手环</p>
											<p class="txt_center fontcl1">¥1<small class="ml10"><del class="black9">￥60</del></small></p>
										</a>
									</div>
									<div class="box swiper-slide">
										<a href="indiana-detail-1.html">
											<img src="img/21.jpg" width="" height="">
											<p class="txt_center overflow_clear">touch</p>
											<p class="txt_center fontcl1">¥1<small class="ml10"><del class="black9">￥60</del></small></p>
										</a>
									</div>
								</div>
							</div>
	
						</div>
						<!--首页限时抢购结束-->
						<!--抽奖-->
						<div class="index-event">
						    <div class="cnt">
						            <a class="item" href="cj.html">
						                <p class="title1" style="font-size:18px;">幸运抽奖</p>
						
						                <p class="sub">手机空调免费抢</p>
						                <img src="img/1e4cee721166b2bb747f92c4fba40741.png">
						            </a>
						            <a class="item" href="login-4.html">
						                <p class="title2" style="font-size:18px;">区域合作</p>
						
						                <p class="sub">资源、利益共享</p>
						                <img src="img/97ee1ad1171546bc838462b55deea14f2.jpg">
						            </a>
						             <a class="item" href="sjrz.html">
						                <p class="title3" style="font-size:18px;">商家入驻</p>
						                <p class="sub">免费开店推广</p>
						                <img src="img/97ee1ad1171546bc838462b55deea14f1.jpg">
						            </a>
						            <a class="item" href="sharemoney.html">
						                <p class="title4" style="font-size:18px;">分享赚钱</p>
						
						                <p class="sub">分享赚取佣金</p>
						                <img src="img/97ee1ad1171546bc838462b55deea14f.jpg">
						            </a>
						    </div>
						</div>
						<!--热门商家-->
						<div class="sy_title">
							<span class="left">推荐商家</span>
							<a href="shangjialist-2.html" class="fr morethree">更多&gt;&gt;</a>
						</div>
						<div class="sy_hot_seller">
							<div class="sy_limit_buy mb10">
								<div class="locatLabel_switch swiper-container6 swiper-container-horizontal swiper-container-free-mode swiper-container-android">
									<div class="swiper-wrapper">
										<div class="box swiper-slide">
											<a href="meishi.html">
												<img src="img/54b9cae9d6bc4.jpg" width="114" height="114">
												<p class="txt_center overflow_clear">菲诗小铺</p>
												<p class="fontcl2">2人关注</p>
											</a>
										</div>
										<div class="box swiper-slide">
											<a href="meishi.html">
												<img src="img/thumb_5745110bbc27c.jpg" width="114" height="114">
												<p class="txt_center overflow_clear">菲诗小铺</p>
												<p class="fontcl2">2人关注</p>
											</a>
										</div>
										<div class="box swiper-slide">
											<a href="meishi.html">
												<img src="img/22.jpg" width="114" height="114">
												<p class="txt_center overflow_clear">菲诗小铺</p>
												<p class="fontcl2">2人关注</p>
											</a>
										</div>
										<div class="box swiper-slide">
											<a href="meishi.html">
												<img src="img/thumb_5745110bbc27c.jpg" width="114" height="114">
												<p class="txt_center overflow_clear">菲诗小铺</p>
												<p class="fontcl2">2人关注</p>
											</a>
										</div>
										<div class="box swiper-slide">
											<a href="meishi.html">
												<img src="img/thumb_5745110bbc27c.jpg" width="114" height="114">
												<p class="txt_center overflow_clear">菲诗小铺</p>
												<p class="fontcl2">2人关注</p>
											</a>
										</div>
										<div class="box swiper-slide">
											<a href="meishi.html">
												<img src="img/thumb_5745110bbc27c.jpg" width="114" height="114">
												<p class="txt_center overflow_clear">菲诗小铺</p>
												<p class="fontcl2">2人关注</p>
											</a>
										</div>
										<div class="box swiper-slide">
											<a href="meishi.html">
												<img src="img/thumb_5745110bbc27c.jpg" width="114" height="114">
												<p class="txt_center overflow_clear">菲诗小铺</p>
												<p class="fontcl2">2人关注</p>
											</a>
										</div>
										<div class="box swiper-slide">
											<a href="meishi.html">
												<img src="img/thumb_5745110bbc27c.jpg" width="114" height="114">
												<p class="txt_center overflow_clear">菲诗小铺</p>
												<p class="fontcl2">2人关注</p>
											</a>
										</div>
										<div class="box swiper-slide">
											<a href="meishi.html">
												<img src="img/thumb_5745110bbc27c.jpg" width="114" height="114">
												<p class="txt_center overflow_clear">菲诗小铺</p>
												<p class="fontcl2">2人关注</p>
											</a>
										</div>
										<div class="box swiper-slide">
											<a href="meishi.html">
												<img src="img/thumb_5745110bbc27c.jpg" width="114" height="114">
												<p class="txt_center overflow_clear">菲诗小铺</p>
												<p class="fontcl2">2人关注</p>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--热门商家end-->
						
						<!--广告轮播-->
						<div class="banner">
							<div class="flexslider guanggao">
								<ul class="slides">
									<li>
										<a href="#" title="家居广告1">
											<img src="img/553b0e58b6c52.jpg" alt="家居广告1" width="100%">
										</a>
									</li>
									<li class="flex-active-slide">
										<a href="#" title="家居广告2">
											<img src="img/553b0e254774b.jpg" alt="家居广告2" width="100%">
										</a>
									</li>
								</ul>
							</div>
						</div>
						<!--广告轮播end-->
		
						<!--专享推荐-->
						<div class="sy_title mb10">
							<span class="left">热门推荐</span>
							<a href="general.html" class="fr morethree">更多&gt;&gt;</a>
						</div>
						<div class="sy_recmd">
							<div class="sy_recmd_list_box">
								<ul>
									<li class="sy_recmd_list">
										<div class="box">
											<div class="pub_img">
												<a href="general.html"><img src="img/54b9cae9d6bc4.jpg" width="145" height="145"></a>
											</div>
											<div class="pub_wz">
												<h3 class="overflow_clear"><a href="#">巴拉拉</a></h3>
												<div class="nr_box">
													<p class="fl fontcl2">¥25</p>
													<span class="fl black9">[优惠活动]</span>
													<p class="fr price fontcl2"><span class="black9">已售50</span></p>
												</div>
											</div>
										</div>
									</li>
									<li class="sy_recmd_list">
										<div class="box">
											<div class="pub_img">
												<a href="general.html"><img src="img/5799a2ab98849.jpg" width="145" height="145"></a>
											</div>
											<div class="pub_wz">
												<h3 class="overflow_clear"><a href="#">绿茶</a></h3>
												<div class="nr_box">
													<p class="fl fontcl2">¥25</p>
													<span class="fl black9">[优惠活动]</span>
													<p class="fr price fontcl2"><span class="black9">已售50</span></p>
												</div>
											</div>
										</div>
									</li>
									<li class="sy_recmd_list">
										<div class="box">
											<div class="pub_img">
												<a href="general.html"><img src="img/thumb_5745180003782.jpg" width="145" height="145"></a>
											</div>
											<div class="pub_wz">
												<h3 class="overflow_clear"><a href="#">寿司</a></h3>
												<div class="nr_box">
													<p class="fl fontcl2">¥25</p>
													<span class="fl black9">[优惠活动]</span>
													<p class="fr price fontcl2"><span class="black9">已售50</span></p>
												</div>
											</div>
										</div>
									</li>
									<li class="sy_recmd_list">
										<div class="box">
											<div class="pub_img">
												<a href="general.html"><img src="img/t011c5ab4a14a87e4f6.jpg" width="145" height="145"></a>
											</div>
											<div class="pub_wz">
												<h3 class="overflow_clear"><a href="#">紫光园</a></h3>
												<div class="nr_box">
													<p class="fl fontcl2">¥25</p>
													<span class="fl black9">[优惠活动]</span>
													<p class="fr price fontcl2"><span class="black9">已售50</span></p>
												</div>
											</div>
										</div>
									</li>
									<li class="sy_recmd_list">
										<div class="box">
											<div class="pub_img">
												<a href="general.html"><img src="img/t0182ef6a8ccc5979fe.jpg" width="145" height="145"></a>
											</div>
											<div class="pub_wz">
												<h3 class="overflow_clear"><a href="#">庆丰包子铺</a></h3>
												<div class="nr_box">
													<p class="fl fontcl2">¥25</p>
													<span class="fl black9">[优惠活动]</span>
													<p class="fr price fontcl2"><span class="black9">已售50</span></p>
												</div>
											</div>
										</div>
									</li>
									<li class="sy_recmd_list">
										<div class="box">
											<div class="pub_img">
												<a href="general.html"><img src="img/t010a23e0f194929d70.jpg" width="145" height="145"></a>
											</div>
											<div class="pub_wz">
												<h3 class="overflow_clear"><a href="#">无印良品</a></h3>
												<div class="nr_box">
													<p class="fl fontcl2">¥25</p>
													<span class="fl black9">[优惠活动]</span>
													<p class="fr price fontcl2"><span class="black9">已售50</span></p>
												</div>
											</div>
										</div>
									</li>
								</ul>
								<div class="clear"></div>
							</div>
						</div>
						<!--专享推荐end-->
					</div>
				</div>
			</div>
		</div>
		<footer id="footer">
			<div>
				<a href="index.html">
					<div class="icon i-1 on"></div>
					<p>首页</p>
				</a>
			</div>
			<div>
				<a href="jifen-mall.html">
					<div class="icon i-5"></div>
					<p>积分商城</p>
				</a>
			</div>
			<div>
				<a href="sharemoney.html">
					<div class="icon i-2"></div>
					<p>分享赚钱</p>
				</a>
			</div>
			<div>
				<a href="yydgindex.html">
					<div class="icon i-3"></div>
					<p>一元夺购</p>
				</a>
			</div>
			<div>
				<a href="personcenter.html">
					<div class="icon i-4"></div>
					<p>个人中心</p>
				</a>
			</div>			
		</footer>		
	
	</body>
	<script src="js/other.js" type="text/javascript" charset="utf-8"></script>
</html>