<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>夺宝详情</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="css/common.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/mui.min.css"/>
		<link rel="stylesheet" href="css/reset.css">
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/iscroll.js"></script>
		<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
		<script src="js/hmt.js" type="text/javascript"></script>
		<script type="text/javascript" src="js/index.js"></script>
		<script src="js/swiper.min.js" type="text/javascript" ></script>
	</head>
	<body>
		<header class="hasManyCity hasManyCitytwo" id="header">
			<a href="javascript:history.go(-1)" class="fl fanhui"><i class="iconfont icon-fanhui"></i></a>
			<div class="header-tit">
				夺宝详情
			</div>
			<!--<a href="setup.html" class="fr shoucang sousuo"><i class="iconfont icon-fenxiang"></i></a>-->
		</header>
		
		<div id="container">		
			<div id="main">
				<section class="in-banner">
					<div class="swiper-container swiper-container1">
						<div class="swiper-wrapper bannerwidth">
							<div class="swiper-slide">
								<a href="javascript:;">
									<img src="img/19.jpg">
								</a>
							</div>
							<div class="swiper-slide">
								<a href="javascript:;">
									<img src="img/22.jpg">
								</a>
							</div>
							<div class="swiper-slide">
								<a href="javascript:;">
									<img src="img/21.jpg">
								</a>
							</div>
						</div>						
					</div>
				</section>
				
				<div class="idjindu clearfix fl">
					<p class="tit">（第二期）苹果（APPLE）IPHONE 6S 16G版 4G手机</p>
					<p class="price">价值：<span>￥5999</span></p>
					<p class="jifen">需要积分：<span>700</span></p>
					<div class="clear"></div>
					<div class="jindu clearfloat">
						<span class="lanjindu db" style="width: 50%;"></span>
					</div>
					<p class="nra">
						<span>已参加30人次</span>
						<span class="totle">总需491人次</span>
						<span class="totlea">剩余<em>461次</em></span>
					</p>
				</div>
				<div class="clear"></div>
				<div class="sdxq clearfloat">
						<ul>
							<li class="box-s">
			    				<a href="sharemoney.html">
			    					<p class="fl">分享此产品，赚取佣金</p>
			    					<i class="iconfont icon-jiantou1 fr"></i>
			    				</a>
			    			</li>
							<li class="box-s">
			    				<a href="jfdgjl.html">
			    					<p class="fl">所有积分夺购记录</p>
			    					<i class="iconfont icon-jiantou1 fr"></i>
			    				</a>
			    			</li>
							<li class="box-s">
			    				<a href="twxq.html">
			    					<p class="fl">图文详情<span>建议WIFI下使用</span></p>
			    					<i class="iconfont icon-jiantou1 fr"></i>
			    				</a>
			    			</li>
							<li class="box-s">
			    				<a href="kjyz.html">
			    					<p class="fl">公平、公正、公开的开奖原则</p>
			    					<i class="iconfont icon-jiantou1 fr"></i>
			    				</a>
			    			</li>
							<li class="box-s">
			    				<a href="sdxq.html">
			    					<p class="fl">已有<em>0</em>个幸运者晒单<em>0</em>条评论</p>
			    					<i class="iconfont icon-jiantou1 fr"></i>
			    				</a>
			    			</li>
			    			<li class="box-s">
			    				<a href="wqhg.html">
			    					<p class="fl">往期回顾</p>
			    					<i class="iconfont icon-jiantou1 fr"></i>
			    				</a>
			    			</li>
						</ul>
				</div>
				
			
			</div>
		</div>
		
		<div class="add-zixuan-window">
			<div class="zixuan-window">
				<p><img src="images/tianjiachenggong_tanchuang.png" />加入购物车成功</p>
			</div>
		</div>
		<script>
			$(function(){	
				$('.save-click').click(function(event){
					$('.add-zixuan-window').fadeIn();
					setTimeout(function() {
						$('.add-zixuan-window').fadeOut();
					}, 2500);
				})
			})
		</script>
		
		
		
		<div id="footer" class="iduobao">
			<a href="shopcar-1.html" class="db">立即夺宝</a>
			<a href="javascript:;" class="gwc save-click">加入购物车</a>
		</div>
	</body>
</html>
