<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>所有积分夺购记录</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="css/common.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/mui.min.css"/>
		<link rel="stylesheet" href="css/reset.css">
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script src="js/hmt.js" type="text/javascript"></script>
	</head>
	<body>
		<!--header star-->
		<header class="hasManyCity hasManyCitytwo" id="header">
			<a href="javascript:history.go(-1)" class="fl fanhui"><i class="iconfont icon-fanhui"></i></a>
			<div class="header-tit">
				所有积分夺购记录
			</div>		
		</header>
	    <!--header end-->
	    <div id="container">		
			<div id="main">
			    <div class="idhdxq idcanyu clearfloat fl" style="padding-bottom: 50px;">
					<div class="list clearfloat fl">
						<div class="left clearfloat fl">
							<span></span>
							<a href="grzy.html">
								<img src="img/97ee1ad1171546bc838462b55deea14f2.jpg">
							</a>
						</div>
						<div class="right clearfloat fl">
							<p class="bt">瑾晨0212<span>(中国IP)</span></p>
							<p class="canyu">夺购了<em>1</em>人次<span>2016-11-11 11:20:10</span></p>
						</div>
					</div>
					<div class="list clearfloat fl">
						<div class="left clearfloat fl">
							<span></span>
							<a href="grzy.html">
								<img src="img/tou.png">
							</a>
						</div>
						<div class="right clearfloat fl">
							<p class="bt">瑾晨0212<span>(中国IP)</span></p>
							<p class="canyu">夺购了<em>1</em>人次<span>2016-11-11 11:20:10</span></p>
						</div>
					</div>
					<div class="list clearfloat fl">
						<div class="left clearfloat fl">
							<span></span>
							<a href="grzy.html">
								<img src="img/tou.png">
							</a>
						</div>
						<div class="right clearfloat fl">
							<p class="bt">瑾晨0212<span>(中国IP)</span></p>
							<p class="canyu">夺购了<em>1</em>人次<span>2016-11-11 11:20:10</span></p>
						</div>
					</div>
					<div class="list clearfloat fl">
						<div class="left clearfloat fl">
							<span></span>
							<a href="grzy.html">
								<img src="img/tou.png">
							</a>
						</div>
						<div class="right clearfloat fl">
							<p class="bt">瑾晨0212</p>
							<p class="canyu">夺购了<em>122</em>人次<span>2016-11-11 11:20:10</span></p>
						</div>
					</div>
					<div class="list clearfloat fl">
						<div class="left clearfloat fl">
							<span></span>
							<a href="grzy.html">
								<img src="img/tou.png">
							</a>
						</div>
						<div class="right clearfloat fl">
							<p class="bt">瑾晨0212</p>
							<p class="canyu">夺购了<em>122</em>人次<span>2016-11-11 11:20:10</span></p>
						</div>
					</div>
					<div class="list clearfloat fl">
						<div class="left clearfloat fl">
							<span></span>
							<a href="grzy.html">
								<img src="img/tou.png">
							</a>
						</div>
						<div class="right clearfloat fl">
							<p class="bt">瑾晨0212</p>
							<p class="canyu">夺购了<em>122</em>人次<span>2016-11-11 11:20:10</span></p>
						</div>
					</div>
					<div class="list clearfloat fl">
						<div class="left clearfloat fl">
							<span></span>
							<a href="grzy.html">
								<img src="img/tou.png">
							</a>
						</div>
						<div class="right clearfloat fl">
							<p class="bt">瑾晨0212</p>
							<p class="canyu">夺购了<em>122</em>人次<span>2016-11-11 11:20:10</span></p>
						</div>
					</div>
					<div class="list clearfloat fl">
						<div class="left clearfloat fl">
							<span></span>
							<a href="grzy.html">
								<img src="img/tou.png">
							</a>
						</div>
						<div class="right clearfloat fl">
							<p class="bt">瑾晨0212</p>
							<p class="canyu">夺购了<em>122</em>人次<span>2016-11-11 11:20:10</span></p>
						</div>
					</div>
					<div class="list clearfloat fl">
						<div class="left clearfloat fl">
							<span></span>
							<a href="grzy.html">
								<img src="img/tou.png">
							</a>
						</div>
						<div class="right clearfloat fl">
							<p class="bt">瑾晨0212</p>
							<p class="canyu">夺购了<em>122</em>人次<span>2016-11-11 11:20:10</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	<footer id="footer">
			<div>
				<a href="index.html">
					<div class="icon i-1"></div>
					<p>首页</p>
				</a>
			</div>
			<div>
				<a href="jifen-mall.html">
					<div class="icon i-5"></div>
					<p>积分商城</p>
				</a>
			</div>
			<div>
				<a href="sharemoney.html">
					<div class="icon i-2"></div>
					<p>分享赚钱</p>
				</a>
			</div>
			<div>
				<a href="yydgindex.html">
					<div class="icon i-3 on"></div>
					<p>一元夺购</p>
				</a>
			</div>
			<div>
				<a href="personcenter.html">
					<div class="icon i-4"></div>
					<p>个人中心</p>
				</a>
			</div>			
		</footer>		
	</body>
</html>

