<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>计算结果</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="css/common.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/mui.picker.min.css"/>
		<link rel="stylesheet" href="css/reset.css">
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script src="js/hmt.js" type="text/javascript"></script>
	</head>
	<body>
		<!--header star-->
		<header class="hasManyCity hasManyCitytwo" id="header">
			<a href="javascript:history.go(-1)" class="fl fanhui"><i class="iconfont icon-fanhui"></i></a>
			<div class="header-tit">
				计算结果
			</div>		
		</header>
	    <!--header end-->
	    <div id="container">		
			<div id="main">
			   <section id="calResult" class="z-minheight">
			   	<div class="infoResult">
			   		<div class="info-bg">
			   			<dl>截止揭晓时间【2016-11-28 14:53:33.094】最<em>后100条全站购买时间记录</em></dl>
			   			<p>计算方法</p>
			   				<p><em>01</em>取该商品最后购买时间前网站所有商品的最后100条购买时间记录；</p>
			   				<p><em>02</em>每个时间记录按时、分、秒、毫秒依次排列取数值；</p>
			   				<p><em>03</em>将这100个数值之和除以该商品总参与人次后取余数，余数加上10000001 即为"幸运云购码"。</p>
			   			
		   			</div>
		   			<ul class="result2">
		   				<li class="result2-title"><span class="w148">云购时间</span><span class="w60">转换数据</span><span>会员账号</span></li>
		   				<li><span class="w148">2016-11-28<dd>14:53:33.094</dd></span><span class="w60">145333094</span><span>壹元哥</span></li>
		   				<li><span class="w148">2016-11-28<dd>14:53:33.094</dd></span><span class="w60">145333094</span><span>壹元哥</span></li>
		   				<li><span class="w148">2016-11-28<dd>14:53:32.743</dd></span><span class="w60">145332743</span><span>中一次回点血</span></li>
		   				<li><span class="w148">2016-11-28<dd>14:53:33.094</dd></span><span class="w60">145333094</span><span>壹元哥</span></li>
		   				<li><span class="w148">2016-11-28<dd>14:53:32.743</dd></span><span class="w60">145332743</span><span>中一次回点血</span></li>
		   				<li><span class="w148">2016-11-28<dd>14:53:33.094</dd></span><span class="w60">145333094</span><span>壹元哥</span></li>
		   				<li><span class="w148">2016-11-28<dd>14:53:32.743</dd></span><span class="w60">145332743</span><span>中一次回点血</span></li>
		   				<li><span class="w148">2016-11-28<dd>14:53:32.743</dd></span><span class="w60">145332743</span><span>中一次回点血</span></li>
		   			</ul>
			   	</div>
			   	<div class="infoCount">
			   		<div class="infoCount2">
			   			<ul>
			   				<li style="border:0 none;">取以上数值结果得：</li>
			   				<li>1、求和：14532394270<em>(上面100条云购记录时间取值相加之和)</em></li>
			   				<li><p>2、取余：14532394270<em>(100条时间记录之和)</em><br>%7288<em>(本商品总需参与人次)</em>=5662<em>(余数)</em></p></li>
			   				<li>3、计算结果：5662<em>(余数)</em>+10000001=<span>10005663</span><p></p></li>
			   			</ul>
			   		</div>
			   	</div>
			</section>
			</div>
		</div>
	</body>
</html>
