<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>客户统计</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="css/common.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/mui.min.css"/>
		<link rel="stylesheet" href="css/reset.css">
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
		<script src="js/hmt.js" type="text/javascript"></script>
		<script src="js/swiper.min.js" type="text/javascript" ></script>
	</head>
	<body>
		<header class="hasManyCity hasManyCitytwo" id="header">
			<a href="javascript:history.go(-1)" class="fl fanhui"><i class="iconfont icon-fanhui"></i></a>
			<div class="header-tit">
				客户统计
			</div>	
			<a href="#" class="fr shoucang sousuo lianxi2"><i class="iconfont icon-kefu1"></i></a>
		</header>
		
		<div id="container">		
			<div id="main">
				<div class="notice">
					<div class="tab-hd tab-hdthree">
						<ul class="tab-nav">
						  <li>全部会员</li>
						  <li>购买过的会员</li>
						  <li>观看过的会员</li>
						</ul>
					</div>
					<div class="tab-bd" style="background: #FFFFFF;">
						<!--全部-->
						<div class="tab-pal">
							<div class="xxzx">
						    	<ul>
						    		<li class="clearfloat">
						    			<a href="">
							    			<div class="img-left"><img src="img/57dde56e654f4.png"></div>
							    			<div class="img-right ">
							    				<div class="img-content"><span class="fl shop-name">时光</span><span class="fr">16/12/1</span></div>
							    				<p>购买过</p>
							    			</div>
						    			</a>
						    		</li>
						    		<li class="clearfloat">
						    			<a href="">
							    			<div class="img-left"><img src="img/57dde56e654f4.png"></div>
							    			<div class="img-right ">
							    				<div class="img-content"><span class="fl shop-name">时光</span><span class="fr">16/12/1</span></div>
							    				<p>观看过</p>
							    			</div>
						    			</a>
						    		</li>
						    	</ul>
						    </div>
						</div>
						<!--购买过-->
						<div class="tab-pal">
							<div class="xxzx">
						    	<ul>
						    		<li class="clearfloat">
						    			<a href="">
							    			<div class="img-left"><img src="img/57dde56e654f4.png"></div>
							    			<div class="img-right ">
							    				<div class="img-content"><span class="fl shop-name">时光</span><span class="fr">16/12/1</span></div>
							    				<p style="margin-top: 5px;">
							    					<a href="#" class="shoucang sousuo lianxi1">联系ta<i class="iconfont icon-kefu1" style="margin-left: 5px;"></i></a>
							    				</p>
							    			</div>
						    			</a>
						    		</li>
						    		<li class="clearfloat">
						    			<a href="">
							    			<div class="img-left"><img src="img/57dde56e654f4.png"></div>
							    			<div class="img-right ">
							    				<div class="img-content"><span class="fl shop-name">时光</span><span class="fr">16/12/1</span></div>
							    				<p style="margin-top: 5px;">
							    					<a href="#" class="shoucang sousuo lianxi1">联系ta<i class="iconfont icon-kefu1" style="margin-left: 5px;"></i></a>
							    				</p>
							    			</div>
						    			</a>
						    		</li>
						    		<li class="clearfloat">
						    			<a href="">
							    			<div class="img-left"><img src="img/57dde56e654f4.png"></div>
							    			<div class="img-right ">
							    				<div class="img-content"><span class="fl shop-name">时光</span><span class="fr">16/12/1</span></div>
							    				<p style="margin-top: 5px;">
							    					<a href="#" class="shoucang sousuo lianxi1">联系ta<i class="iconfont icon-kefu1" style="margin-left: 5px;"></i></a>
							    				</p>
							    			</div>
						    			</a>
						    		</li>
						    	</ul>
						    </div>
						    <div class="djq-bg">
								11
							</div>
							<div class="djq">
								<p>需要10积分，是否联系ta</p>
								<span class="fl djq-red"><a href="huifu.html">是</a></span>
								<span class="fl">否</span>
							</div>
							<script type="text/javascript">
								$(".lianxi1").click(function(){
									$(".djq-bg").show();
									$(".djq").show();
								});
								$(".djq span").click(function(){
									$(".djq-bg").hide();
									$(".djq").hide();
								});
							</script>
						</div>						
						<!--观看过-->
						<div class="tab-pal">
							<div class="xxzx">
						    	<ul>
						    		<li class="clearfloat">
						    			<a href="">
							    			<div class="img-left"><img src="img/57dde56e654f4.png"></div>
							    			<div class="img-right ">
							    				<div class="img-content"><span class="fl shop-name">时光</span><span class="fr">16/12/1</span></div>
							    				<p>观看过</p>
							    			</div>
						    			</a>
						    		</li>
						    	</ul>
						    </div>
						</div>	
					</div>
				</div>								
			</div>
		</div>
		<div class="djq-bg1">
			11
		</div>
		<div class="djq1">
			<p>需要100积分，是否群发</p>
			<span class="fl djq-red1"><a href="newsqunfa.html">是</a></span>
			<span class="fl">否</span>
		</div>
	</body>
	<script src="js/jquery.SuperSlide.2.1.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		jQuery(".notice").slide({ titCell:".tab-hd li", mainCell:".tab-bd",delayTime:0 });
	</script>
	<script type="text/javascript">
	$(function(){
		$(".lianxi2").click(function(){
			$(".djq-bg1").show();
			$(".djq1").show();
		});
		$(".djq1 span").click(function(){
			$(".djq-bg1").hide();
			$(".djq1").hide();
		});
	})
	</script>
</html>
