<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>个人中心</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="css/common.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/mui.min.css"/>
		<link rel="stylesheet" href="css/reset.css">
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<!--<script type="text/javascript" src="js/iscroll.js"></script>-->
		<!--<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>-->
		<script src="js/hmt.js" type="text/javascript"></script>
		<!--<script type="text/javascript" src="js/index.js"></script>-->
		<script src="js/swiper.min.js" type="text/javascript" ></script>
	</head>
	<body>
		<!--header star-->
		<header class="hasManyCity hasManyCitytwo" id="header">
			<a href="javascript:history.go(-1)" class="fl fanhui"><i class="iconfont icon-fanhui"></i></a>
			<div class="header-tit">
				<a href="hydj.html">柠檬小姐-<i>铁牌</i></a>
			</div>
			<!--<a href="setup.html" class="fr shoucang sousuo"><i class="iconfont icon-shezhi"></i></a>-->
			<a href="xxzx.html" class="fr shoucang sousuo"><i class="iconfont icon-kefu1"></i></a>			
		</header>
	    <!--header end-->
	    <div id="container">		
			<div id="main">
			    <div class="warp clearfloat">
			    	<div class="h-top clearfloat box-s">
			    		<div class="wykd">
			    			<a href="sjrz.html">
			    			<img src="images/grzx_23.png">
			    			<p>我要开店</p>
			    			</a>
			    		</div>
			    		<div class="content clearfloat">
			    			<p class="hname">您的积分余额</p>
			    			<p class="htel">8888</p>
			    		</div>
			    		<div class="h-bottom clearfloat">
			    			<samp></samp>
			    			<ul>
			    				<li>
			    					<a href="indiana.html">
				    					<p>积分夺宝</p>
			    					</a>
			    				</li>
			    				<li>
			    					<a href="jifen-mall.html">
				    					<p>积分商城</p>
			    					</a>
			    				</li>
			    				<li>
			    					<a href="cj.html">
				    					<p>消费抽奖</p>
			    					</a>
			    				</li>
			    			</ul>
			    		</div>
			    	</div>
			    	<div class="cash clearfloat">
			    		<div class="shang clearfloat">
			    			<ul>
			    				<li>
			    					<a href="setup.html">
			    						<img src="img/55cc6a077633c.png"/>
			    						<span>个人设置</span>
			    					</a>
			    				</li>
			    				<li>
			    					<a href="sc-order.html">
			    						<img src="img/55cc6b1f816fd.png"/>
			    						<span>我的订单</span>
			    					</a>
			    				</li>
			    				<li>
			    					<a href="shopcar.html">
			    						<img src="img/55cc69e12131a.png"/>
			    						<span>购物车</span>
			    					</a>
			    				</li>
			    				<li>
			    					<a href="coupon.html">
			    						<img src="img/55cc720e3ac29.png"/>
			    						<span>优惠券</span>
			    					</a>
			    				</li>
			    				<li>
			    					<a href="wdsr.html">
			    						<img src="img/55cc6aa7aee21.png"/>
			    						<span>我的收入</span>
			    					</a>
			    				</li>
			    				<li>
			    					<a href="zjjl.html">
			    						<img src="img/57a017b46f3fc.png"/>
			    						<span>中奖纪录</span>
			    					</a>
			    				</li>
			    				<li>
			    					<a href="fkjl.html">
			    						<img src="img/55cc6af415a71.png"/>
			    						<span>付款记录</span>
			    					</a>
			    				</li>
			    				<li>
			    					<a href="jifen-order.html">
			    						<img src="img/55cc6b07ab95b.png"/>
			    						<span>积分中心</span>
			    					</a>
			    				</li>
			    			</ul>
			    		</div>
			    	</div>
			    	<div class="wddd">
			    		<a href="sc-order.html">
				    		<div class="dd-header">
				    			<div class="dd-header-left fl">
				    				<h1>我的订单</h1>
				    				<p>2016-11-20 08:43</p>
				    			</div>
				    			<div class="dd-header-right fr">
				    				<p></p>
				    			</div>
				    		</div>
				    		<div class="clear"></div>
				    		<div class="dd-content">
				    			<img src="images/grzx_03.png">
				    			<div class="dd-content-detial">
				    				<p>xx店铺（美食）</p>
				    				<P>现货空运车厘子大樱桃新货空运车厘子大樱桃</P>
				    				<span>智牛单号：201600290909</span>
				    			</div>
				    		</div>
				    		<div class="dd-content-bottom">
				    			立即查看更多内容
				    		</div>
			    		</a>
			    	</div>
			    	<div class="xjdb">
			    		<div class="xjdb-head">
			    			<a href="indiana-1.html">
			    			<div class="xjdb-head-left fl">
			    				一元夺购新品推荐
			    			</div>
			    			<div class="xjdb-head-right fr">
			    				<p></p>
			    			</div>
			    			</a>
			    			<div class="clear"></div>
			    		</div>
			    			<div class="xjdb-content">
			    				<div class="xjdb-content-box fl">
			    					<a href="indiana-1.html">
				    				<div class="img-box">
				    					<img src="images/20160822155218592.jpg">
				    					<p>（第1期）路虎揽胜极光路虎揽胜极光</p>
				    				</div>
				    				<div class="xjdb-num">
				    					<div class="xjdb-num-a">
				    						<p class="red">142</p>
				    						<p>已参与</p>
				    					</div>
				    					<div class="xjdb-num-a xjdb-num-b">
				    						<p>12178</p>
				    						<p>总需人次</p>
				    					</div>
				    					<div class="xjdb-num-a xjdb-num-c">
				    						<p class="blue">12306</p>
				    						<p>剩余</p>
				    					</div>
				    				</div>
				    				<div class="xjdb-bottom">
				    					<div class="xjdb-bottom-left fl">
				    						<p>立即夺购</p>
				    					</div>
				    					<div class="xjdb-bottom-right fr">
				    						<img src="images/grzx_04.png">
				    					</div>
				    					<div class="clear"></div>
				    				</div>
				    				</a>
				    			</div>
				    			<div class="xjdb-content-box fr">
			    					<a href="indiana-1.html">
				    				<div class="img-box">
				    					<img src="images/20160822155218592.jpg">
				    					<p>（第1期）路虎揽胜极光路虎揽胜极光</p>
				    				</div>
				    				<div class="xjdb-num">
				    					<div class="xjdb-num-a">
				    						<p class="red">142</p>
				    						<p>已参与</p>
				    					</div>
				    					<div class="xjdb-num-a xjdb-num-b">
				    						<p>12178</p>
				    						<p>总需人次</p>
				    					</div>
				    					<div class="xjdb-num-a xjdb-num-c">
				    						<p class="blue">12306</p>
				    						<p>剩余</p>
				    					</div>
				    				</div>
				    				<div class="xjdb-bottom">
				    					<div class="xjdb-bottom-left fl">
				    						<p>立即夺购</p>
				    					</div>
				    					<div class="xjdb-bottom-right fr">
				    						<img src="images/grzx_04.png">
				    					</div>
				    					<div class="clear"></div>
				    				</div>
				    				</a>
				    			</div>
				    			<div class="clear"></div>
			    			</div>
			    			
			    	</div>
						
			    	<div class="sd">
			    		<div class="sd-header">
			    			<a href="sdxq.html">
			    			<div class="sd-header-left sd-header-box fl">
			    				<img src="images/grzx_06.png">
			    			</div>
			    			<div class="sd-header-left fl">
			    				<h1>乖乖乖乖</h1>
			    				<p>2016-11-20 08:43</p>
			    			</div>
			    			<div class="sd-header-right fr">
			    				<p></p>
			    			</div>
			    			</a>
				    	</div>
				    	<div class="clear"></div>
				    	<div class="sd-content">
				    		<a href="sdxq.html">
				    		<p>终于中奖啦！！！终于中奖啦！！！终于中奖啦！！！终于中奖啦！！！终于中奖啦！！！</p>
				    		<div class="img-box">
				    			<div class="img-box-a fl">
				    				<img src="images/gezx_07.png">
				    			</div>
				    			<div class="img-box-a fr">
				    				<img src="images/gezx_08.png">
				    			</div>
				    			<div class="clear"></div>
				    			<div class="img-box-b fl">
				    				<img src="images/gezx_09.png">
				    			</div>
				    			<div class="img-box-b fl">
				    				<img src="images/gezx_10.png">
				    			</div>
				    			<div class="img-box-c fr">
				    				<img src="images/gezx_10.png">
				    				<p>+4</p>
				    			</div>
				    			<div class="clear"></div>
				    		</div>
				    		</a>
				    		<div class="sd-bottom">
				    			<div class="sd-bottom-a">
				    				<span class="zan">赞</span>
				    			</div>
				    			<div class="sd-bottom-a">
				    				<span class="pl"><a href="sdxq-1.html">评论</a></span>
				    			</div>
				    			<div class="sd-bottom-a">
				    				<span class="fx"><a href="">分享</a></span>
				    			</div>
				    			
				    		</div>
				    	</div>
			    	</div>
					<div class="cjmk">
						<a href="cj.html">
						<div class="xjdb-head">
			    			<div class="xjdb-head-left fl">
			    				积分活动
			    			</div>
			    			<div class="xjdb-head-right fr">
			    				<p></p>
			    			</div>
			    			<div class="clear"></div>
			    		</div>
			    		</a>
						<div id="lottery">
					<table border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td class="lottery-unit lottery-unit-0"><p class="img-box-a"><img src="images/grzx_20.png"></p></td>
							<td class="lottery-unit lottery-unit-1"><p class="img-box-b"><img src="images/grzx_20.png"></p></td>
							<td class="lottery-unit lottery-unit-2"><p class="img-box-c"><img src="images/grzx_20.png"></p></td>
						</tr>
						<tr>
							<td class="lottery-unit lottery-unit-7"><p class="img-box-a"><img src="images/grzx_20.png"></p></td>
							<td colspan="1" rowspan="1"><p class="img-box-b"><a href="#">您有<span>5</span>次摇奖机会</a></p></td>
							<td class="lottery-unit lottery-unit-3"><p class="img-box-c"><img src="images/grzx_20.png"></p></td>
						</tr>
						<tr>
							<td class="lottery-unit lottery-unit-6"><p class="img-box-a"><img src="images/grzx_20.png"></p></td>
							<td class="lottery-unit lottery-unit-5"><p class="img-box-b"><img src="images/grzx_20.png"></p></td>
				            <td class="lottery-unit lottery-unit-4"><p class="img-box-c"><img src="images/grzx_20.png"></p></td>
						</tr>
					</table>
				</div>
				<div class="cjmk-bottom">
				    			<a href="cj.html">查看全部</a>
				    		</div>
					</div>	
					<div class="sjhd">
			    		<a href="coupon-1.html">
				    		<div class="sjhd-header">
				    			<div class="sjhd-header-left fl">
				    				<h1>商家活动券</h1>
				    			</div>
				    			<div class="sjhd-header-right fr">
				    				<p></p>
				    			</div>
				    		</div>
				    		<div class="clear"></div>
				    		<div class="sjhd-content">
				    				<img src="images/grzx_22.png">
				    		</div>
				    		<div class="dd-content-bottom">
				    			立即查看
				    		</div>
			    		</a>
			    	</div>	
						
			    	
			    	<a href="#" class="center-btn db ra3">退出登录</a>
			    </div>
			</div>
		</div>
		<script type="text/javascript">
					var lottery={
						index:-1,	//当前转动到哪个位置，起点位置
						count:0,	//总共有多少个位置
						timer:0,	//setTimeout的ID，用clearTimeout清除
						speed:20,	//初始转动速度
						times:0,	//转动次数
						cycle:50,	//转动基本次数：即至少需要转动多少次再进入抽奖环节
						prize:-1,	//中奖位置
						init:function(id){
							if ($("#"+id).find(".lottery-unit").length>0) {
								$lottery = $("#"+id);
								$units = $lottery.find(".lottery-unit");
								this.obj = $lottery;
								this.count = $units.length;
								$lottery.find(".lottery-unit-"+this.index).addClass("active");
							};
						},
						roll:function(){
							var index = this.index;
							var count = this.count;
							var lottery = this.obj;
							$(lottery).find(".lottery-unit-"+index).removeClass("active");
							index += 1;
							if (index>count-1) {
								index = 0;
							};
							$(lottery).find(".lottery-unit-"+index).addClass("active");
							this.index=index;
							return false;
						},
						stop:function(index){
							this.prize=index;
							return false;
						}
					};
					
					function roll(){
						lottery.times += 1;
						lottery.roll();
						if (lottery.times > lottery.cycle+10 && lottery.prize==lottery.index) {
							clearTimeout(lottery.timer);
							lottery.prize=-1;
							lottery.times=0;
							click=false;
						}else{
							if (lottery.times<lottery.cycle) {
								lottery.speed -= 10;
							}else if(lottery.times==lottery.cycle) {
								var index = Math.random()*(lottery.count)|0;
								lottery.prize = index;		
							}else{
								if (lottery.times > lottery.cycle+10 && ((lottery.prize==0 && lottery.index==7) || lottery.prize==lottery.index+1)) {
									lottery.speed += 110;
								}else{
									lottery.speed += 20;
								}
							}
							if (lottery.speed<40) {
								lottery.speed=40;
							};
							//console.log(lottery.times+'^^^^^^'+lottery.speed+'^^^^^^^'+lottery.prize);
							lottery.timer = setTimeout(roll,lottery.speed);
						}
						return false;
					}
					
					var click=false;
					
					window.onload=function(){
						lottery.init('lottery');
						$("#lottery a").click(function(){
							if (click) {
								return false;
							}else{
								lottery.speed=100;
								roll();
								click=true;
								return false;
							}
						});
					};
					</script>
	    <script type="text/javascript">
	    	$(function(){
	    		$(".sd-bottom .sd-bottom-a span.zan").click(function(){
	    			$(this).removeClass("zan").addClass("zana").css("color","#ff1b0d")
	    		});
	    	})
	    </script>
		<!--footer star-->
	    <footer id="footer">
			<div>
				<a href="index.html">
					<div class="icon i-1"></div>
					<p>首页</p>
				</a>
			</div>
			<div>
				<a href="jifen-mall.html">
					<div class="icon i-5"></div>
					<p>积分商城</p>
				</a>
			</div>
			<div>
				<a href="sharemoney.html">
					<div class="icon i-2"></div>
					<p>分享赚钱</p>
				</a>
			</div>
			<div>
				<a href="yydgindex.html">
					<div class="icon i-3"></div>
					<p>一元夺购</p>
				</a>
			</div>
			<div>
				<a href="personcenter.html">
					<div class="icon i-4 on"></div>
					<p>个人中心</p>
				</a>
			</div>			
		</footer>
		<!--footer end-->
	</body>
</html>
