<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>晒单</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="css/common.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/mui.min.css"/>
		<link rel="stylesheet" href="css/reset.css">
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script src="js/hmt.js" type="text/javascript"></script>
	</head>
	<body>
		<!--header star-->
		<header class="hasManyCity hasManyCitytwo" id="header">
			<a href="javascript:history.go(-1)" class="fl fanhui"><i class="iconfont icon-fanhui"></i></a>
			<div class="header-tit">
				晒单
			</div>		
		</header>
	    <!--header end-->
	    <div id="container">		
			<div id="main">
			    <div class="session-sd">
			    	<div class="cSingleCon">
		    			<div class="cSingleCon2">
		    				<div class="cSingleInfo">
		    					<dl class="fl">
		    						<a href="grzy.html">
		    							<img src="img/57dde56e654f4.png">
		    							<b></b>
		    						</a>
		    					</dl>
		    					<div class="cSingleR m-round" id="333690">
		    						<a href="sdxq-1.html">
		    						<ul>
		    							<li>
		    								<em class="blue">一元云中取</em>
		    								<span><strong class="c9">：</strong>三元中了枕头</span> 
		    								<h5>4分钟前</h5>
		    							</li>
		    							<li>
		    								<p>中了有段时间。今天晒图。听说多晒图更加能中大奖。哈哈。自我安慰的说法罢了。之前中了一个。心想好枕必须要凑一对。…</p>
		    							</li>
		    							<li class="maxImg">
		    								<img src="img/19.jpg">
		    								<img src="img/21.jpg">
		    								<img src="img/21.jpg">
		    								<img src="img/21.jpg">
		    							</li>
		    							<li>
		    								<dd>
		    									
		    									<strong>0</strong>人羡慕嫉妒</dd>
		    									<dd>
		    										<strong>0</strong>条评论</dd>
		    							</li>
		    						</ul>
		    						</a>
		    						<b class="z-arrow"></b>
		    						
		    					</div>
		    				</div>
		    				<div class="cSingleInfo">
		    					<dl class="fl">
		    						<a href="grzy.html">
		    							<img src="img/57dde56e654f4.png">
		    							<b></b>
		    						</a>
		    					</dl>
		    					<div class="cSingleR m-round" id="333690">
		    						<a href="sdxq-1.html">
		    						<ul>
		    							<li>
		    								<em class="blue">一元云中取</em>
		    								<span><strong class="c9">：</strong>三元中了枕头</span> 
		    								<h5>4分钟前</h5>
		    							</li>
		    							<li>
		    								<p>中了有段时间。今天晒图。听说多晒图更加能中大奖。哈哈。自我安慰的说法罢了。之前中了一个。心想好枕必须要凑一对。…</p>
		    							</li>
		    							<li class="maxImg">
		    								<img src="img/19.jpg">
		    								<img src="img/21.jpg">
		    								<img src="img/21.jpg">
		    								<img src="img/21.jpg">
		    							</li>
		    							<li>
		    								<dd>
		    									
		    									<strong>0</strong>人羡慕嫉妒</dd>
		    									<dd>
		    										<strong>0</strong>条评论</dd>
		    							</li>
		    						</ul>
		    						</a>
		    						<b class="z-arrow"></b>
		    						
		    					</div>
		    				</div>
		    				<div class="cSingleInfo">
		    					<dl class="fl">
		    						<a href="grzy.html">
		    							<img src="img/57dde56e654f4.png">
		    							<b></b>
		    						</a>
		    					</dl>
		    					<div class="cSingleR m-round" id="333690">
		    						<a href="sdxq-1.html">
		    						<ul>
		    							<li>
		    								<em class="blue" uweb="1014128167">一元云中取</em>
		    								<span><strong class="c9">：</strong>三元中了枕头</span> 
		    								<h5>4分钟前</h5>
		    							</li>
		    							<li>
		    								<p>中了有段时间。今天晒图。听说多晒图更加能中大奖。哈哈。自我安慰的说法罢了。之前中了一个。心想好枕必须要凑一对。…</p>
		    							</li>
		    							<li class="maxImg">
		    								<img src="img/19.jpg">
		    								<img src="img/21.jpg">
		    								<img src="img/21.jpg">
		    								<img src="img/21.jpg">
		    							</li>
		    							<li>
		    								<dd>
		    									
		    									<strong>0</strong>人羡慕嫉妒</dd>
		    									<dd>
		    										<strong>0</strong>条评论</dd>
		    							</li>
		    						</ul>
		    						</a>
		    						<b class="z-arrow"></b>
		    						
		    					</div>
		    				</div>
		    				
        					
		    			</div>
			    	</div>
				</div>
			</div>
		</div>
		<footer id="footer">
			<div>
				<a href="index.html">
					<div class="icon i-1"></div>
					<p>首页</p>
				</a>
			</div>
			<div>
				<a href="jifen-mall.html">
					<div class="icon i-5"></div>
					<p>积分商城</p>
				</a>
			</div>
			<div>
				<a href="sharemoney.html">
					<div class="icon i-2"></div>
					<p>分享赚钱</p>
				</a>
			</div>
			<div>
				<a href="yydgindex.html">
					<div class="icon i-3 on"></div>
					<p>一元夺购</p>
				</a>
			</div>
			<div>
				<a href="personcenter.html">
					<div class="icon i-4"></div>
					<p>个人中心</p>
				</a>
			</div>			
		</footer>		
	
	</body>
</html>

