<!DOCTYPE html>
<html>
<head>
   	<meta charset="UTF-8">  
  	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<title>商家列表</title> 
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/otherpagecontent.css"/>
	<script src="js/jquery.js"></script>
	<script src="js/hmt.js"></script>
 	<script>
		var can_show = true;
		var page = 1;
		var catid = 0;
		var order = 0;
		var myaddress = '';
		var search_input = '';

		$(function(){ 
		 		$('#toolbar .sele>li').bind("click", function() {   
			    $('#toolbar .sele>b').removeClass('se');
		     $(this).addClass('se').siblings().removeClass('se');
		     $(this).find('b').addClass('se');
		      $('#toolbar .sub').addClass('sh');
		       var cc = $('#toolbar .sele').find('li').index(this); 
		       $('#toolbar .lizd').eq(cc).show().siblings().hide();//('sh'); 
		   
		      });
		
		 	$('#sorts li').bind("click",function(){
			  $(this).addClass('xz').siblings().removeClass('xz');
			    $('#toolbar').find('.se').removeClass('se');
		      $('#toolbar').find('.sh').removeClass('sh'); 
			    $('#toolbar').find('li').eq(2).html('<a>'+$(this).text()+'<b class=""></b></a>');
			    order = $(this).attr('value');
			   $('#supplierlist').html('');
		      page = 1;
		   	  can_show = true; 
			    shopdata(); 
		  });
		  $('#sorts1 li').bind("click",function(){
			  $(this).addClass('xz').siblings().removeClass('xz');
			    $('#toolbar').find('.se').removeClass('se');
		      $('#toolbar').find('.sh').removeClass('sh'); 
			    $('#toolbar').find('li').eq(1).html('<a>'+$(this).text()+'<b class=""></b></a>');
			    order = $(this).attr('value');
			   $('#supplierlist').html('');
		      page = 1;
		   	  can_show = true; 
			    shopdata(); 
		  });
		  $('.lizd li').bind("hover",function(){
			   $(this).addClass('tapclass').siblings().removeClass('tapclass');
		  });
		  $('#cuisien li').bind('click',function(){
			   $(this).addClass('xz').siblings().removeClass('xz');
			   $('#toolbar').find('.se').removeClass('se');
			   $('#toolbar').find('.sh').removeClass('sh');
			   $('#supplierlist').html('');
			   $('#toolbar').find('li').eq(0).html('<a>'+$(this).text()+'<b class=""></b></a>');
			   catid = $(this).attr('id');//alert(this).
			   can_show = true; 
			   page = 1;
			   shopdata(); 
		   });
		      	
//		  getLocation();
		   //
		   $('#loading').show();
		   });

		function shopdata(){
			   $('#loading').show();
		 	   $(".mBxCr").show(); 
		
		}
		$(window).scroll(function(){   //滚动获取数据 
			if(can_show == true && $(".mBxCr").is(":hidden") == true){ 
			 
		    if ($(document).height() - $(this).scrollTop() - $(this).height()<100){
		    	 
		    	 shopdata();   
		    	}
		  } 
		});

	</script>

</head>
<body> 
	<!--头部-->
	<header class="hasManyCity hasManyCitytwo" id="header">
		<a href="javascript:history.go(-1)" class="fl fanhui"><i class="iconfont icon-fanhui"></i></a>
		<div class="header-tit">
			商家列表
		</div>		
	</header>
	
	<div class="content1">
		<!--定位-->
	    <div id="areainfo">
	    	<div class="arealeft" id="showareainfo">定位地址信息...</div>
	    	<div class="changcity">
	    		<a href="#">切换城市</a>
	    	</div>
	    </div>
	    <!--图片展示-->
		<div>
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
	  			<tr>
	    			<td background="images/bg.jpg" style="height:158px;">
	    				<div align="center" style="color:#ffffff; font-size:30px; margin-top:70px; line-height:30px;text-shadow: 0 0 20px black;filter:shadow(Color=#000000,Direction=10,Strength=10);">外卖小吃</div>
						<div align="center" style="margin-top:10px;">
							<div style="width:90%; background-color:rgba(0,0,0,0.7); line-height:30px; color:#FFFFFF; font-size:14px;border: 5 solid gray;border-radius:10px;">外卖小吃文字</div>
						</div>
					</td>
	  			</tr>
			</table>
		</div>
		<!--三个选项-->
	    <div id="toolbar"> 
	    	<ul class="sele"> 
	    		<li class=""><a>全部分类<b class=""></b></a></li>
	    		<li class=""><a>推荐商家<b class=""></b></a></li>
	    		<li class=""><a>周边商圈<b class=""></b></a></li> 
	    	</ul>
	    	<div class="sub"> 
	    		<ul id="cuisien" class="lizd" style="display:none;"> 
				    <li id="0" class="xz"><a>全部分类</a></li>  
				     <li id="167"><a>连锁餐厅</a></li>
	 			     <li id="168"><a>家常快餐</a></li>
	 			     <li id="169"><a>地方菜</a></li>
	 			     <li id="170"><a>特色小吃</a></li>
	 			     <li id="171"><a>日韩料理</a></li>
	 			     <li id="172"><a>西式快餐</a></li>
	 			     <li id="173"><a>烧烤海鲜</a></li>
	 			     <li id="174"><a>下午茶</a></li>
	 			     <li id="175"><a>火锅</a></li>
	 			     <li id="176"><a>水果生鲜</a></li>
	 			     <li id="177"><a>鲜花蛋糕</a></li>
	 			     <li id="178"><a>超市购</a></li>
	 			     <li id="179"><a>夜宵</a></li>
	     	 	</ul>
	    		<ul id="sorts1" class="lizd" style="display:none;">
	     	 		<li value="0" class="xz">推荐商家</li>
	     	 	</ul>
		     	 <ul id="sorts" class="lizd" style="display:none;">
		     	 	<li value="0" class="xz">周边商圈</li>
		     	 </ul>
	      	</div>
	    </div>
		<!--列表-->
	  	<div class="container" style="margin-top: 2px; padding-top: 0px;">
		  	<section>
		  		<ul class="branch-list">
		  			<li class="clkitm " data-supplierid="61" style="border-bottom: 0px solid rgb(255, 255, 255); height: 85px;"> 
		 	   			<a href="supermarket.html">
		        			<img class="scrollLoading" src="images/1477550271.jpg" alt="">
		        			<p style="margin-top: 10px;">
		        				<strong>霖家小店</strong>
		        				<img src="picture/20140614190450621.png" style="width: 20px;height: 20px;position: relative;top: -2px;">
		        				<img src="picture/20140614190515292.png" style="width: 20px;height: 20px;position: relative;top: -2px;">
		        			</p>
				        	<div class="qisong">
				                <p>0&nbsp;元起送</p>
				                <p>送餐费&nbsp;0&nbsp;元</p> 
				        	</div>
		        			<div class="address">配送时间:</div> 
		        	  		<div style="position:absolute;position: absolute;background-color: #ccc;height: 20px;width: 50px;right: 20px;margin-top: -40px;color: #ffffff;text-align: center;line-height: 20px;">已打样</div>
		       			</a>             
		    		</li> 
		    		<div style="border-bottom: 1px solid #e5e5e5;height: 30px;">
		          		<p style="float:left;width:50%;">
		          			<a href="tel:15312882831">
		          				<img src="picture/m-1.png" style="width: 20px;height: 20px;position: relative;top: 0px;border: 0;">&nbsp;&nbsp;电话预定
		          			</a>
		          		</p>
		           		<p style="float:left;width:50%;">
		           			<img src="picture/m-3.png" style="width: 20px;height: 20px;position: relative;top: 0px;border: 0;">&nbsp;&nbsp;销售总量&nbsp;0&nbsp;
		           		</p>
		       		</div>
		  		</ul>
		  		<ul class="branch-list">
		  			<li class="clkitm " data-supplierid="61" style="border-bottom: 0px solid rgb(255, 255, 255); height: 85px;"> 
		 	   			<a href="supermarket.html">
		        			<img class="scrollLoading" src="images/1477550271.jpg" alt="">
		        			<p style="margin-top: 10px;">
		        				<strong>霖家小店</strong>
		        				<img src="picture/20140614190450621.png" style="width: 20px;height: 20px;position: relative;top: -2px;">
		        				<img src="picture/20140614190515292.png" style="width: 20px;height: 20px;position: relative;top: -2px;">
		        			</p>
				        	<div class="qisong">
				                <p>0&nbsp;元起送</p>
				                <p>送餐费&nbsp;0&nbsp;元</p> 
				        	</div>
		        			<div class="address">配送时间:</div> 
		        	  		<div style="position:absolute;position: absolute;background-color: #ccc;height: 20px;width: 50px;right: 20px;margin-top: -40px;color: #ffffff;text-align: center;line-height: 20px;">已打样</div>
		       			</a>             
		    		</li> 
		    		<div style="border-bottom: 1px solid #e5e5e5;height: 30px;">
		          		<p style="float:left;width:50%;">
		          			<a href="tel:15312882831">
		          				<img src="picture/m-1.png" style="width: 20px;height: 20px;position: relative;top: 0px;border: 0;">&nbsp;&nbsp;电话预定
		          			</a>
		          		</p>
		           		<p style="float:left;width:50%;">
		           			<img src="picture/m-3.png" style="width: 20px;height: 20px;position: relative;top: 0px;border: 0;">&nbsp;&nbsp;销售总量&nbsp;0&nbsp;
		           		</p>
		       		</div>
		  		</ul>
		  		<ul class="branch-list">
		  			<li class="clkitm " data-supplierid="61" style="border-bottom: 0px solid rgb(255, 255, 255); height: 85px;"> 
		 	   			<a href="supermarket.html">
		        			<img class="scrollLoading" src="images/1477550271.jpg" alt="">
		        			<p style="margin-top: 10px;">
		        				<strong>霖家小店</strong>
		        				<img src="picture/20140614190450621.png" style="width: 20px;height: 20px;position: relative;top: -2px;">
		        				<img src="picture/20140614190515292.png" style="width: 20px;height: 20px;position: relative;top: -2px;">
		        			</p>
				        	<div class="qisong">
				                <p>0&nbsp;元起送</p>
				                <p>送餐费&nbsp;0&nbsp;元</p> 
				        	</div>
		        			<div class="address">配送时间:</div> 
		        	  		<div style="position:absolute;position: absolute;background-color: #ccc;height: 20px;width: 50px;right: 20px;margin-top: -40px;color: #ffffff;text-align: center;line-height: 20px;">已打样</div>
		       			</a>             
		    		</li> 
		    		<div style="border-bottom: 1px solid #e5e5e5;height: 30px;">
		          		<p style="float:left;width:50%;">
		          			<a href="tel:15312882831">
		          				<img src="picture/m-1.png" style="width: 20px;height: 20px;position: relative;top: 0px;border: 0;">&nbsp;&nbsp;电话预定
		          			</a>
		          		</p>
		           		<p style="float:left;width:50%;">
		           			<img src="picture/m-3.png" style="width: 20px;height: 20px;position: relative;top: 0px;border: 0;">&nbsp;&nbsp;销售总量&nbsp;0&nbsp;
		           		</p>
		       		</div>
		  		</ul>
		     	<!--<div class="mBxCr" style="display: none;"><span class="more" id="loadtip">数据加载完毕</span></div>-->
		    </section>
	  	</div>
	</div>
	<!--底部-->
	<footer id="footer">
		<div>
			<a href="index.html">
				<div class="icon i-1 on"></div>
				<p>首页</p>
			</a>
		</div>
		<div>
			<a href="jifen-mall.html">
				<div class="icon i-5"></div>
				<p>积分商城</p>
			</a>
		</div>
		<div>
			<a href="sharemoney.html">
				<div class="icon i-2"></div>
				<p>分享赚钱</p>
			</a>
		</div>
		<div>
			<a href="indiana.html">
				<div class="icon i-3"></div>
				<p>一元夺购</p>
			</a>
		</div>
		<div>
			<a href="personcenter.html">
				<div class="icon i-4"></div>
				<p>个人中心</p>
			</a>
		</div>			
	</footer>
 <script>
 	$(function(){  
 	   $('#loading').hide(); 
  });
  </script>
</body>
</html>
 