<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>商家入驻</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="css/common.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/otherpagecontent.css"/>
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script src="js/hmt.js" type="text/javascript"></script>
		<!-- 引用控制层插件样式 -->
		<link rel="stylesheet" href="picture-shangchuan/control/css/ph-zyUpload.css" type="text/css">
		<!--<script src="http://www.lanrenzhijia.com/ajaxjs/jquery.min.js"></script>-->
		<!-- 引用核心层插件 -->
		<script src="picture-shangchuan/core/zyFile.js"></script>
		<!-- 引用控制层插件 -->
		<script src="picture-shangchuan/control/js/ph-zyUpload.js"></script>
		<!-- 引用初始化JS -->
		<script src="picture-shangchuan/core/ph-lanrenzhijia.js"></script>
		<script type="text/javascript">
			var xmldom = null;
			function show_province(){
				$.get('js/ChinaArea.xml',function(msg){
					xmldom = msg;
					$(msg).find('province').each(function(k,v){
						var nm = $(this).attr('province');
						var id = $(this).attr('provinceID');
						$('#province').append("<option value='"+id+"'>"+nm+"</option>");
					})
				},'xml')
			}
			$(function(){
				show_province();
			});
			function show_city(){
				var pid = $('#province option:selected').val();
				var two_pid = pid.substr(0,2);
//				console.log($(xmldom).find('City[CityID^='+two_pid+']'));
				$('#city').empty();
				$('#city').append('<option value="0">--请选择--</option>')
				
				$(xmldom).find('City[CityID^='+two_pid+']').each(function(k,v){
					var nm = $(this).attr('City');
					var id = $(this).attr('CityID');
					$('#city').append("<option value='"+id+"'>"+nm+"</option>");
				})
			};
			function show_area(){
				var pid = $('#city option:selected').val();
				var two_pid = pid.substr(0,4);
				$('#area').empty();
				$('#area').append('<option value="0">--请选择--</option>')
				
				$(xmldom).find('Piecearea[PieceareaID^='+two_pid+']').each(function(k,v){
					var nm = $(this).attr('Piecearea');
					var id = $(this).attr('PieceareaID');
					$('#area').append("<option value='"+id+"'>"+nm+"</option>");
				})
			};
		</script>
		
	</head>
	<body>
		<header class="hasManyCity hasManyCitytwo" id="header">
			<a href="javascript:history.go(-1)" class="fl fanhui"><i class="iconfont icon-fanhui"></i></a>
			<div class="header-tit">
				商铺照片认证
			</div>		
		</header>
		<div id="container">		
			<div id="main">
			    <div class="warp warpthree clearfloat">
			    	<div class="apply clearfloat">
			    		<div class="top clearfloat">
			    			<ul>
			    				<p class="addyingye">添加身份证照片</p>
			    				<div class="upload_photo">      	
							      	<div id="demo" class="demo"></div>
							    </div>
			    			</ul>
			    		</div>
			    		<div class="bottom clearfloat">
			    			<ul>
			    				<li>
			    					<div class="box-s clearfloat">
			    						<p>身份证号：</p>
			    						<input type="text" id="" value="" placeholder="" />
			    					</div>	    					
			    				</li>
			    			</ul>
			    		</div>
			    		<a href="center.html" class="center-btn db ra3">提交</a>
			    	</div>    	
			    </div>
			</div>
		</div>
	
	
	</body>
</html>
