<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>佣金</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="css/common.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/mui.picker.min.css"/>
		<link rel="stylesheet" href="css/reset.css">
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script src="js/hmt.js" type="text/javascript"></script>
	</head>
	<body>
		<!--header star-->
		<header class="hasManyCity hasManyCitytwo" id="header">
			<a href="javascript:history.go(-1)" class="fl fanhui"><i class="iconfont icon-fanhui"></i></a>
			<div class="header-tit">
				一级佣金明细
			</div>		
		</header>
	    <!--header end-->
	    <div id="container">		
			<div id="main">
				<section class="clearfix g-member">
        <div class="clearfix m-name">
            <div class="fl f-Himg">
                <a href="grzy.html" class="z-Himg">
                    <img src="images/freshman-no.png" border="0/"></a>
                <span class="z-class-icon01 gray02"><s></s></span>
            </div>
            <div class="m-name-info"><p class="u-name">
				<b class="z-name gray01">150****7682</b><em>(15076537682)&nbsp;ID：80001581</em></p>
                <ul class="clearfix u-mbr-info"><li>可用牛豆 <span class="orange">0</span></li>
                    <li>经验值 <span class="orange">0</span></li>
                    <li>余额 <span class="orange">￥0.00</span></li>
                      <li>  <a href="recharge.html" class="fr z-Recharge-btn">去充值</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="R-content">
            <div class="member-t">
              <h2>一级佣金明细</h2></div>
            <div class="total">
                <dl>
              
                    <dd>合计赚取一级佣金：<b class="orange">0</b>元，</dd>
                   
                    <dt class="gray02">佣金余额可实时充值到您的一元夺购帐户。</dt>
                </dl>

            </div>
                        
            <div id="divCommissionList" class="list-tab commission gray02">
            	<ul class="listTitle">
            		<li class="w25" style="width:25%;">用户</li>
            		<li class="w25" style="width:25%;">时间</li>
            		<li class="w25" style="width:25%;">产品编号</li>
            		<li class="w25" style="width:25%;">佣金(元)</li>
            	</ul>
            	<ul class="listTitle">
            		<li class="w25" style="width:25%;">小小</li>
            		<li class="w25" style="width:25%;">2016-11-28</li>
            		<li class="w25" style="width:25%;">CXT12345</li>
            		<li class="w25" style="width:25%;">20</li>
            	</ul>
            	<ul class="listTitle">
            		<li class="w25" style="width:25%;">小小</li>
            		<li class="w25" style="width:25%;">2016-11-28</li>
            		<li class="w25" style="width:25%;">CXT12345</li>
            		<li class="w25" style="width:25%;">20</li>
            	</ul>
            </div>
                    
    </section>
			</div>
		</div>
		<footer id="footer">
			<div>
				<a href="index.html">
					<div class="icon i-1"></div>
					<p>首页</p>
				</a>
			</div>
			<div>
				<a href="jifen-mall.html">
					<div class="icon i-5"></div>
					<p>积分商城</p>
				</a>
			</div>
			<div>
				<a href="sharemoney.html">
					<div class="icon i-2 on"></div>
					<p>分享赚钱</p>
				</a>
			</div>
			<div>
				<a href="yydgindex.html">
					<div class="icon i-3"></div>
					<p>一元夺购</p>
				</a>
			</div>
			<div>
				<a href="personcenter.html">
					<div class="icon i-4"></div>
					<p>个人中心</p>
				</a>
			</div>
	</body>
</html>
