<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>中奖纪录</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="css/common.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/mui.min.css"/>
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/otherpagecontent.css">
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
		<script src="js/hmt.js" type="text/javascript"></script>
		<script src="js/swiper.min.js" type="text/javascript" ></script>
	</head>
	<body>
		<header class="hasManyCity hasManyCitytwo" id="header">
			<a href="javascript:history.go(-1)" class="fl fanhui"><i class="iconfont icon-fanhui"></i></a>
			<div class="header-tit">
				中奖记录
			</div>		
		</header>
		
		<div id="container">		
			<div id="main">
				<div class="notice">
					<div class="tab-hd">
						<ul class="tab-nav">
						  <li>现金中奖纪录</li>
						  <li>积分中奖记录</li>
						  <li>摇奖中奖记录</li>
						</ul>
					</div>
					<div class="tab-bd">
						<div class="tab-pal">
							<div class="mBuyRecord" style="display: block;">
								<a href="indiana-detail-1.html">
					                <ul class="BuyRecordList">
					                	<li class="mBuyRecordL"><img src="images/20161115084255379.jpg"></li>
					                	<li class="mBuyRecordR"><div class="title-bt">(第59567期)七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤</div>
					                		<span>幸运云购码：<em class="orange">10000039</em><br>揭晓时间：2016-11-26 15:33:31.084 </span>
					                		<p class="mValue">订单号：234567111</p>
					                	</li>
					                </ul>
				                </a>
				                <a href="indiana-detail-1.html">
					                <ul class="BuyRecordList">
					                	<li class="mBuyRecordL"><img src="images/20161115084255379.jpg"></li>
					                	<li class="mBuyRecordR"><div class="title-bt">(第59567期)七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤</div>
					                		<span>幸运云购码：<em class="orange">10000039</em><br>揭晓时间：2016-11-26 15:33:31.084 </span>
					                		<p class="mValue">订单号：234567111</p>
					                	</li>
					                </ul>
				                </a>
				                <a href="indiana-detail-1.html">
					                <ul class="BuyRecordList">
					                	<li class="mBuyRecordL"><img src="images/20161115084255379.jpg"></li>
					                	<li class="mBuyRecordR"><div class="title-bt">(第59567期)七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤</div>
					                		<span>幸运云购码：<em class="orange">10000039</em><br>揭晓时间：2016-11-26 15:33:31.084 </span>
					                		<p class="mValue">订单号：234567111</p>
					                	</li>
					                </ul>
				                </a>
				                <a href="indiana-detail-1.html">
					                <ul class="BuyRecordList">
					                	<li class="mBuyRecordL"><img src="images/20161115084255379.jpg"></li>
					                	<li class="mBuyRecordR"><div class="title-bt">(第59567期)七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤</div>
					                		<span>幸运云购码：<em class="orange">10000039</em><br>揭晓时间：2016-11-26 15:33:31.084 </span>
					                		<p class="mValue">订单号：234567111</p>
					                	</li>
					                </ul>
				                </a>
				                <a href="indiana-detail-1.html">
					                <ul class="BuyRecordList">
					                	<li class="mBuyRecordL"><img src="images/20161115084255379.jpg"></li>
					                	<li class="mBuyRecordR"><div class="title-bt">(第59567期)七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤</div>
					                		<span>幸运云购码：<em class="orange">10000039</em><br>揭晓时间：2016-11-26 15:33:31.084 </span>
					                		<p class="mValue">订单号：234567111</p>
					                	</li>
					                </ul>
				                </a>
				                <a href="indiana-detail-1.html">
					                <ul class="BuyRecordList">
					                	<li class="mBuyRecordL"><img src="images/20161115084255379.jpg"></li>
					                	<li class="mBuyRecordR"><div class="title-bt">(第59567期)七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤</div>
					                		<span>幸运云购码：<em class="orange">10000039</em><br>揭晓时间：2016-11-26 15:33:31.084 </span>
					                		<p class="mValue">订单号：234567111</p>
					                	</li>
					                </ul>
				                </a>
				                <a href="indiana-detail-1.html">
					                <ul class="BuyRecordList">
					                	<li class="mBuyRecordL"><img src="images/20161115084255379.jpg"></li>
					                	<li class="mBuyRecordR"><div class="title-bt">(第59567期)七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤</div>
					                		<span>幸运云购码：<em class="orange">10000039</em><br>揭晓时间：2016-11-26 15:33:31.084 </span>
					                		<p class="mValue">订单号：234567111</p>
					                	</li>
					                </ul>
				                </a>
			                </div>
						</div>
						<div class="tab-pal">
							<div  class="mBuyRecord" style="display: block;">
								<a href="indiana-detail.html">
				                <ul onclick="" class="BuyRecordList">
				                	<li class="mBuyRecordL"><img src="images/20160822175122286.jpg"></li>
				                	<li class="mBuyRecordR"><div class="title-bt">(第59567期)七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤</div>
				                		<span>幸运云购码：<em class="orange">10000039</em><br>揭晓时间：2016-11-26 15:33:31.084 </span>
				                		<p class="mValue">订单号：234567111</p>
				                	</li>
				                </ul>
				               </a>
				                <a href="indiana-detail.html">
				                <ul onclick="" class="BuyRecordList">
				                	<li class="mBuyRecordL"><img src="images/20160822175122286.jpg"></li>
				                	<li class="mBuyRecordR"><div class="title-bt">(第59567期)七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤</div>
				                		<span>幸运云购码：<em class="orange">10000039</em><br>揭晓时间：2016-11-26 15:33:31.084 </span>
				                		<p class="mValue">订单号：234567111</p>
				                	</li>
				                </ul>
				               </a>
				                <a href="indiana-detail.html">
				                <ul onclick="" class="BuyRecordList">
				                	<li class="mBuyRecordL"><img src="images/20160822175122286.jpg"></li>
				                	<li class="mBuyRecordR"><div class="title-bt">(第59567期)七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤</div>
				                		<span>幸运云购码：<em class="orange">10000039</em><br>揭晓时间：2016-11-26 15:33:31.084 </span>
				                		<p class="mValue">订单号：234567111</p>
				                	</li>
				                </ul>
				               </a>
				               <a href="indiana-detail.html">
				                <ul onclick="" class="BuyRecordList">
				                	<li class="mBuyRecordL"><img src="images/20160822175122286.jpg"></li>
				                	<li class="mBuyRecordR"><div class="title-bt">(第59567期)七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤</div>
				                		<span>幸运云购码：<em class="orange">10000039</em><br>揭晓时间：2016-11-26 15:33:31.084 </span>
				                		<p class="mValue">订单号：234567111</p>
				                	</li>
				                </ul>
				               </a>
				                <a href="indiana-detail.html">
				                <ul onclick="" class="BuyRecordList">
				                	<li class="mBuyRecordL"><img src="images/20160822175122286.jpg"></li>
				                	<li class="mBuyRecordR"><div class="title-bt">(第59567期)七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤</div>
				                		<span>幸运云购码：<em class="orange">10000039</em><br>揭晓时间：2016-11-26 15:33:31.084 </span>
				                		<p class="mValue">订单号：234567111</p>
				                	</li>
				                </ul>
				               </a>
				                <a href="indiana-detail.html">
				                <ul onclick="" class="BuyRecordList">
				                	<li class="mBuyRecordL"><img src="images/20160822175122286.jpg"></li>
				                	<li class="mBuyRecordR"><div class="title-bt">(第59567期)七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤</div>
				                		<span>幸运云购码：<em class="orange">10000039</em><br>揭晓时间：2016-11-26 15:33:31.084 </span>
				                		<p class="mValue">订单号：234567111</p>
				                	</li>
				                </ul>
				               </a>
				                <a href="indiana-detail.html">
				                <ul onclick="" class="BuyRecordList">
				                	<li class="mBuyRecordL"><img src="images/20160822175122286.jpg"></li>
				                	<li class="mBuyRecordR"><div class="title-bt">(第59567期)七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤</div>
				                		<span>幸运云购码：<em class="orange">10000039</em><br>揭晓时间：2016-11-26 15:33:31.084 </span>
				                		<p class="mValue">订单号：234567111</p>
				                	</li>
				                </ul>
				               </a>
			                </div>
						</div>
						<div class="tab-pal">
							<div class="mBuyRecord" style="display: block;">
				                <ul onclick="" class="BuyRecordList">
				                	<li class="mBuyRecordL"><img src="images/20161115084255379.jpg"></li>
				                	<li class="mBuyRecordR"><div class="title-bt">(第59567期)七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤</div>
				                		<br>摇奖时间：2016-11-26 15:33:31.084 </span>
				                	<p class="mValue">订单号：234567111</p>
				                	</li>
				                </ul>
				                <ul onclick="" class="BuyRecordList">
				                	<li class="mBuyRecordL"><img src="images/20161115084255379.jpg"></li>
				                	<li class="mBuyRecordR"><div class="title-bt">(第59567期)七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤</div>
				                		<br>摇奖时间：2016-11-26 15:33:31.084 </span>
				                	<p class="mValue">订单号：234567111</p>
				                	</li>
				                </ul>
				                <ul onclick="" class="BuyRecordList">
				                	<li class="mBuyRecordL"><img src="images/20161115084255379.jpg"></li>
				                	<li class="mBuyRecordR"><div class="title-bt">(第59567期)七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤</div>
				                		<br>摇奖时间：2016-11-26 15:33:31.084 </span>
				                	<p class="mValue">订单号：234567111</p>
				                	</li>
				                </ul>
				                <ul onclick="" class="BuyRecordList">
				                	<li class="mBuyRecordL"><img src="images/20161115084255379.jpg"></li>
				                	<li class="mBuyRecordR"><div class="title-bt">(第59567期)七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤</div>
				                		<br>摇奖时间：2016-11-26 15:33:31.084 </span>
				                	<p class="mValue">订单号：234567111</p>
				                	</li>
				                </ul>
				                <ul onclick="" class="BuyRecordList">
				                	<li class="mBuyRecordL"><img src="images/20161115084255379.jpg"></li>
				                	<li class="mBuyRecordR"><div class="title-bt">(第59567期)七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤</div>
				                		<br>摇奖时间：2016-11-26 15:33:31.084 </span>
				                	<p class="mValue">订单号：234567111</p>
				                	</li>
				                </ul>
				                <ul onclick="" class="BuyRecordList">
				                	<li class="mBuyRecordL"><img src="images/20161115084255379.jpg"></li>
				                	<li class="mBuyRecordR"><div class="title-bt">(第59567期)七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤</div>
				                		<br>摇奖时间：2016-11-26 15:33:31.084 </span>
				                	<p class="mValue">订单号：234567111</p>
				                	</li>
				                </ul>
				                <ul onclick="" class="BuyRecordList">
				                	<li class="mBuyRecordL"><img src="images/20161115084255379.jpg"></li>
				                	<li class="mBuyRecordR"><div class="title-bt">(第59567期)七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤七匹狼 男士内裤</div>
				                		<br>摇奖时间：2016-11-26 15:33:31.084 </span>
				                	<p class="mValue">订单号：234567111</p>
				                	</li>
				                </ul>
			                </div>
						</div>
					</div>
				</div>								
			</div>
		</div>
	</body>
	<script src="js/jquery.SuperSlide.2.1.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		jQuery(".notice").slide({ titCell:".tab-hd li", mainCell:".tab-bd",delayTime:0 });
	</script>
</html>
