<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>最新揭晓</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="css/common.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/mui.picker.min.css"/>
		<link rel="stylesheet" href="css/reset.css">
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script src="js/hmt.js" type="text/javascript"></script>
	</head>
	<body>
		<!--header star-->
		<header class="hasManyCity hasManyCitytwo" id="header">
			<a href="javascript:history.go(-1)" class="fl fanhui"><i class="iconfont icon-fanhui"></i></a>
			<div class="header-tit">
				最新揭晓
			</div>		
		</header>
	    <!--header end-->
	    <div id="container">		
			<div id="main">
				<section class="revealed">
	    			<div id="divLottery" class="revCon">
			    		<ul class="">
			    			<a href="indiana-detail-2.html">
			    			<li class="revConL">
			    				<img src="images/20160919134956987.jpg">
			    			</li>
			    			</a>
			    			<li class="revConR">
			    				<dl>
			    					<a href="grzy.html">
				    					<dd>
				    						<img src="images/freshman-yes.png">
				    					</dd>
			    					</a>
			    					<dd>获得者：<em class="blue">啦啦啦啦啦啦</em><br>云购：<em class="orange arial">60</em>人次</dd>
			    				</dl>
			    				<a href="indiana-detail-2.html">
				    				<dt>幸运云购码：<em class="orange arial">10000017</em><br>揭晓时间：<em class="c9 arial">2016-11-29 15:13:53.385</em></dt>
				    				<b class="fr z-arrow"></b>
			    				</a>
			    			</li>
			    		</ul>
			    		<ul class="">
			    			<a href="indiana-detail-2.html">
			    			<li class="revConL">
			    				<img src="images/20160919134956987.jpg">
			    			</li>
			    			</a>
			    			<li class="revConR">
			    				<dl>
			    					<a href="grzy.html">
				    					<dd>
				    						<img src="images/freshman-yes.png">
				    					</dd>
			    					</a>
			    					<dd>获得者：<em class="blue">啦啦啦啦啦啦</em><br>云购：<em class="orange arial">60</em>人次</dd>
			    				</dl>
			    				<a href="indiana-detail-2.html">
				    				<dt>幸运云购码：<em class="orange arial">10000017</em><br>揭晓时间：<em class="c9 arial">2016-11-29 15:13:53.385</em></dt>
				    				<b class="fr z-arrow"></b>
			    				</a>
			    			</li>
			    		</ul>
			    		<ul class="">
			    			<a href="indiana-detail-2.html">
			    			<li class="revConL">
			    				<img src="images/20160919134956987.jpg">
			    			</li>
			    			</a>
			    			<li class="revConR">
			    				<dl>
			    					<a href="grzy.html">
				    					<dd>
				    						<img src="images/freshman-yes.png">
				    					</dd>
			    					</a>
			    					<dd>获得者：<em class="blue">啦啦啦啦啦啦</em><br>云购：<em class="orange arial">60</em>人次</dd>
			    				</dl>
			    				<a href="indiana-detail-2.html">
				    				<dt>幸运云购码：<em class="orange arial">10000017</em><br>揭晓时间：<em class="c9 arial">2016-11-29 15:13:53.385</em></dt>
				    				<b class="fr z-arrow"></b>
			    				</a>
			    			</li>
			    		</ul>
			    		<ul class="">
			    			<a href="indiana-detail-2.html">
			    			<li class="revConL">
			    				<img src="images/20160919134956987.jpg">
			    			</li>
			    			</a>
			    			<li class="revConR">
			    				<dl>
			    					<a href="grzy.html">
				    					<dd>
				    						<img src="images/freshman-yes.png">
				    					</dd>
			    					</a>
			    					<dd>获得者：<em class="blue">啦啦啦啦啦啦</em><br>云购：<em class="orange arial">60</em>人次</dd>
			    				</dl>
			    				<a href="indiana-detail-2.html">
				    				<dt>幸运云购码：<em class="orange arial">10000017</em><br>揭晓时间：<em class="c9 arial">2016-11-29 15:13:53.385</em></dt>
				    				<b class="fr z-arrow"></b>
			    				</a>
			    			</li>
			    		</ul>
			    		<ul class="">
			    			<a href="indiana-detail-2.html">
			    			<li class="revConL">
			    				<img src="images/20160919134956987.jpg">
			    			</li>
			    			</a>
			    			<li class="revConR">
			    				<dl>
			    					<a href="grzy.html">
				    					<dd>
				    						<img src="images/freshman-yes.png">
				    					</dd>
			    					</a>
			    					<dd>获得者：<em class="blue">啦啦啦啦啦啦</em><br>云购：<em class="orange arial">60</em>人次</dd>
			    				</dl>
			    				<a href="indiana-detail-2.html">
				    				<dt>幸运云购码：<em class="orange arial">10000017</em><br>揭晓时间：<em class="c9 arial">2016-11-29 15:13:53.385</em></dt>
				    				<b class="fr z-arrow"></b>
			    				</a>
			    			</li>
			    		</ul>
			    		<ul class="">
			    			<a href="indiana-detail-2.html">
			    			<li class="revConL">
			    				<img src="images/20160919134956987.jpg">
			    			</li>
			    			</a>
			    			<li class="revConR">
			    				<dl>
			    					<a href="grzy.html">
				    					<dd>
				    						<img src="images/freshman-yes.png">
				    					</dd>
			    					</a>
			    					<dd>获得者：<em class="blue">啦啦啦啦啦啦</em><br>云购：<em class="orange arial">60</em>人次</dd>
			    				</dl>
			    				<a href="indiana-detail-2.html">
				    				<dt>幸运云购码：<em class="orange arial">10000017</em><br>揭晓时间：<em class="c9 arial">2016-11-29 15:13:53.385</em></dt>
				    				<b class="fr z-arrow"></b>
			    				</a>
			    			</li>
			    		</ul>
			    		<ul class="">
			    			<a href="indiana-detail-2.html">
			    			<li class="revConL">
			    				<img src="images/20160919134956987.jpg">
			    			</li>
			    			</a>
			    			<li class="revConR">
			    				<dl>
			    					<a href="grzy.html">
				    					<dd>
				    						<img src="images/freshman-yes.png">
				    					</dd>
			    					</a>
			    					<dd>获得者：<em class="blue">啦啦啦啦啦啦</em><br>云购：<em class="orange arial">60</em>人次</dd>
			    				</dl>
			    				<a href="indiana-detail-2.html">
				    				<dt>幸运云购码：<em class="orange arial">10000017</em><br>揭晓时间：<em class="c9 arial">2016-11-29 15:13:53.385</em></dt>
				    				<b class="fr z-arrow"></b>
			    				</a>
			    			</li>
			    		</ul>
			    		<ul>
			    			<a href="indiana-detail-2.html">
			    			<li class="revConL">
			    				<img src="images/20160919134956987.jpg">
			    			</li>
			    			</a>
			    			<li class="revConR">
			    				<dl>
			    					<a href="grzy.html">
				    					<dd>
				    						<img src="images/freshman-yes.png">
				    					</dd>
			    					</a>
			    					<dd>获得者：<em class="blue">啦啦啦啦啦啦</em><br>云购：<em class="orange arial">60</em>人次</dd>
			    				</dl>
			    				<a href="indiana-detail-2.html">
				    				<dt>幸运云购码：<em class="orange arial">10000017</em><br>揭晓时间：<em class="c9 arial">2016-11-29 15:13:53.385</em></dt>
				    				<b class="fr z-arrow"></b>
			    				</a>
			    			</li>
			    		</ul>
						
	    			</div>
				</section>
	    	</div>
		</div>
		<footer id="footer">
			<div>
				<a href="index.html">
					<div class="icon i-1"></div>
					<p>首页</p>
				</a>
			</div>
			<div>
				<a href="jifen-mall.html">
					<div class="icon i-5"></div>
					<p>积分商城</p>
				</a>
			</div>
			<div>
				<a href="sharemoney.html">
					<div class="icon i-2"></div>
					<p>分享赚钱</p>
				</a>
			</div>
			<div>
				<a href="yydgindex.html">
					<div class="icon i-3 on"></div>
					<p>一元夺购</p>
				</a>
			</div>
			<div>
				<a href="personcenter.html">
					<div class="icon i-4"></div>
					<p>个人中心</p>
				</a>
			</div>			
		</footer>		
	</body>
</html>
