@charset "utf-8";
	* {
	margin:0;
	padding:0;
}
body,button,input,select,textarea {
	font-size:12px;
	font-family:arial,΢���ź�;
}
:focus {
	outline:0;
}
img {
	border:0;
}
ul,li {
	list-style:none;
}
div,ul,li,dl,dt,dd,table,td,input {
	font-size:12px;
}
input,select,textarea {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-appearance:none;
	border:0;
	border-radius:0;
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {
	display:inline-block;
}
* html .clearfix {
	height:1%;
}
.clearfix {
	display:block;
}
.clear {
	clear:both;
}
.hidden {
	display:none;
}
.blank5 {
	line-height:0;
	font-size:1px;
	height:5px;
	clear:both;
}
.blank10 {
	line-height:0;
	font-size:1px;
	height:10px;
	clear:both;
}
ins {
	text-decoration:none;
	font-size:12px;
	font-family:arial;
}
em {
	font-style:normal;
}
.arial {
	font-family:Arial;
}
.F14 {
	font-size:14px;
}
.F16 {
	font-size:16px;
}
a {
	color:#000;
	text-decoration:none;
	outline:medium none;
}
a:hover {
	color:#C00;
}
.orange {
	color:#E4393C;
}
.red {
	color:#f00;
}
.c9 {
	color:#999;
}
a.blue,.blue {
	color:#2Af;
}
a.gray6,.gray6 {
	color:#666;
}
a.grayc,.grayc {
	color:#CCC;
}
a.gray9,.gray9 {
	color:#999;
}
a.green,.green {
	color:#08a600;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.Fb {
	font-weight:bold;
}
.z-user {
	margin:0 5px;
}
.mt10 {
	margin-top:10px;
}
.z-mlr {
	margin:0 3px;
}
h1,h2,h3,h4,b {
	font-weight:normal;
}
.m-round {
	border:1px solid #DCDCDC;
	border-radius:5px;
	background:#fff;
	box-shadow:1px 1px 1px #e7e7e7;
}
.z-arrow {
	width:6px;
	height:6px;
	display:inline-block;
	border:solid #BBB;
	-webkit-transform:rotate(45deg);
	font-size:0;
	line-height:0;
}
.z-Member,.z-shop,.z-HReturn s,.z-HReturn b,.z-sort,.z-sort i,.z-Home,.z-Site,.z-RCornerBtn,.z-RCornerBtn i,.u-nav,.z-arrowh,.head li a.pCar {
	background:url(../../images/mobile/mainIcon.png);
	background-size:80px auto;
}
.Prompt s,.goodsList .goodsListR a.add s,.registerCon em,.haveNot s,.z-del,.g-pay-bline,.z-pay-mentsel,.z-pay-tips s,.z-pay-tips i,.z-Transaction s,.z-Transaction i,.pCountdown s,.pCountdown em,.z-limit-tips {
	background:url(../../images/mobile/setIcon.png);
	background-size:80px auto;
}
.u-Btn {
	color:#fff;
	text-align:center;
	font-size:14px;
	display:box;
	display:-webkit-box;
	display:-moz-box;
}
.u-Btn .u-Btn-li {
	font-size:18px;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
	text-align:center;
}
a.z-CloseBtn,a.z-DefineBtn,a.z-ShoppingBtn,a.z-cartBtn {
	line-height:44px;
	text-align:center;
	display:block;
	border-radius:3px;
}
.u-Btn a.z-CloseBtn {
	color:#E4393C;
	font-size:14px;
	line-height:33px;
	border:1px solid #DDD;
	margin-right:10px;
	background:#fff;
	box-shadow:1px 1px 1px #F3F3F3;
}
.u-Btn a.z-DefineBtn {
	color:#fff;
	font-size:14px;
	line-height:33px;
	border:1px solid #E4393C;
	box-shadow:0 1px 2px #E7E7E7;
	background:#E4393C;
}
.u-Btn a.z-ShoppingBtn {
	border:1px solid #E4393C;
	font-size:14px;
	line-height:33px;
	margin-right:10px;
	box-shadow:0 1px 1px #E7E7E7;
	background:#E4393C;
	color:#fff;
}
.u-Btn a.z-cartBtn {
	color:#fff;
	font-size:14px;
	line-height:33px;
	border:1px solid #FEA700;
	box-shadow:0 1px 2px #E7E7E7;
	background:#FFB321;
}
.grayBtn,.orgBtn {
	display:block;
	width:100%;
	-webkit-box-sizing:border-box;
	height:43px;
	line-height:43px;
	text-align:center;
	color:#fff!important;
	border-radius:5px;
	font-size:18px;
}
/* used for Qiandao */
.grayBtn,.qiandaoorgBtn {
	display:block;
	width:100%;
	-webkit-box-sizing:border-box;
	height:43px;
	line-height:43px;
	text-align:center;
	color:#fff!important;
	border-radius:5px;
	font-size:18px;
}
/* used for over Qiandao */
.grayBtn,.qiandaooverorgBtn {
	display:block;
	width:100%;
	-webkit-box-sizing:border-box;
	height:43px;
	line-height:43px;
	text-align:center;
	color:#fff!important;
	border-radius:5px;
	font-size:18px;
	margin-bottom: 5px;
}
.grayBtn,.orgwxBtn {
	display:block;
	width:100%;
	-webkit-box-sizing:border-box;
	height:43px;
	line-height:43px;
	text-align:center;
	color:#fff!important;
	border-radius:5px;
	font-size:18px;
}
a.orgBtn {
	background:#ff1b0d;
	border:1px solid #ff1b0d;
}
/* used for Qiandao */
a.qiandaoorgBtn {
	background:#47BDF3;
	border:1px solid #47BDF3;
	margin-bottom: 5px;
}
/* used for over Qiandao */
.qiandaooverorgBtn {
	background: #8E8E8E;
	border:1px solid #8E8E8E;
}
/* used for over Qiandao Note */
.note_tip {
	background: url(../../images/mobile/qiandao_note.png) center no-repeat;
	width: 42px;
	height: 43px;
	position: absolute;
	top: 0;
	right: 5px;
	cursor: pointer;
}
.qiandaoBox {
	position: relative;
}
.qiandaoTip {
	position: absolute;
	width: 190px;
	top: 44px;
	right: 3px;
	z-index: 1000;
	display: none;
}
.qiandaoTip ol {
	background: #fff;
	border: 2px solid #E4393C;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.175);
	list-style: decimal;
	position: relative;
	padding: 5px 6px 5px 23px;
	border-radius: 4px;
}
.qiandaoTip li {
	list-style: decimal;
	line-height: 18px;
	padding: 2px 0;
	font-size: 13px;
	color: #333;
}
.qiandaoTip ol:before {
	position: absolute;
	top: -20px;
	right: 10px;
	content: " ";
	height: 0;
	width: 0;
	border: 10px solid transparent;
	border-bottom-color: #E4393C;
}
.qiandaoTip ol:after {
	position: absolute;
	top: -16px;
	right: 12px;
	content: " ";
	height: 0;
	width: 0;
	border: 8px solid transparent;
	border-bottom-color: #fff;
}

a.orgwxBtn {
	background:#44b549;
	border:1px solid #44b549;
}
a.grayBtn {
	background:#ccc;
	border:1px solid #ccc;
}
.g-snav {
	width:100%;
	display:box;
	display:-webkit-box;
	display:-moz-box;
}
.g-snav .g-snav-lst {
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
}
.g-snav .g-snav-lst1 {
	
}
.u-nav {
	height:42px;
	margin:0 auto;
	background-position:0 -245px;
	background-repeat:repeat-x;
	background-color:#fff;
}
.u-nav .g-snav-lst {
	padding-top:8px;
	height:35px;
	overflow:hidden;
	display:block;
	text-align:center;
	font-size:14px;
}
.u-nav .g-snav-lst a {
	color:#666;
	display:block;
	margin:0 5px;
	height:25px;
	line-height:26px;
	overflow:hidden;
}
.u-nav .g-snav-lst a.nav-crt {
	background:#E4393C;
	color:#fff;
	border-radius:15px;
	padding:0 10px 0 10px;
	margin-bottom:2px;
	box-shadow:1px 1px 1px #d35400 inset;
	overflow:hidden;
}
.u-nav .z-arrowh {
	width:12px;
	height:16px;
	background-position:0 -150px;
	display:inline-block;
	margin-top:2px;
}
.m_listNav {
	border-bottom:1px solid #D0D0D0;
}
.m_listNav .g-snav-lst {
	text-align:center;
	height:33px;
	line-height:33px;
	position:relative;
}
.m_listNav .g-snav-lst a {
	display:block;
	margin:0 5px;
}
.m_listNav .g-snav-lst b {
	height:15px;
	width:1px;
	position:absolute;
	top:10px;
	right:0;
	overflow:hidden;
	background:#DDD;
}
.m_listNav .z-sgl-crt a {
	color:#E4393C;
	height:32px;
	line-height:33px;
	display:block;
	border-bottom:2px solid #E4393C;
}
.z-bank-Round {
	width:16px;
	height:16px;
	border:1px solid #bbb;
	background:#fff;
	border-radius:16px;
	display:inline-block;
	margin-right:8px;
	box-shadow:0 1px 1px #ccc inset;
}
.z-bank-Roundsel {
	width:16px;
	height:16px;
	line-height:20px;
	border:1px solid #ccc;
	background:#F6F5F5;
	border-radius:16px;
	display:inline-block;
	text-align:center;
	margin-right:8px;
}
.z-bank-Roundsel s {
	width:12px;
	height:12px;
	border-radius:12px;
	display:inline-block;
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#ff8a00),color-stop(1,#E4393C));
}
.header {
	height:44px;
	background:#E4393C;
	border-bottom:1px solid #e35b00;
}
.header .img1{
	float:left;
	width:65px;
	
}
.header.img2{
	float:left;
	width:65px;
}
.header.img3{
	width:130px;
	clear:both;
}

.header h1 {
	width:130px;
	height:33px;
	margin:5px 0 0 9px;
	display:inline;
	background:url();
	background-size:55px auto;
}
.header h1 a {
	width:130px;
	height:33px;
	display:inline-block;
}
.header  h1 a img {
	width:130px;
	height:33px;
	margin-left:90px;
	display:inline-block;
}

.header span {
	display:none;
}
.header .u-slogan {
	width:86px;
	height:13px;
	margin:27px 0 0 9px;
	background:url(../../images/1yyg-slogan.png);
	background-size:86px auto;
}
.header .head-r {
	margin:6px 6px 0 0;
}
.z-Home,.z-Member,a.z-Site,.z-shop{
	width:36px;
	height:32px;
	display:inline-block;
}
/*.z-Home,.z-Member,a.z-Site {
	background-color:#E4393C;
	width:36px;
	height:32px;
	border:1px solid #de4900;
	border-radius:5px;
	box-shadow:1px 1px 1px #ff8533 inset;
	display:inline-block;
}*/
.z-Member {
	background-position:0 0;
}
.z-shop {
	background-position:0 -35px;
	position:relative;
	text-align:center;
}
.z-shop em {
	display:inline-block;
	border-radius:10px;
	background:#E4393C;
	border:1px solid #fff;
	padding:0 3px 0 3px;
	position:absolute;
	top:3px;
	right:3px;
	color:#E4393C;
	font-family:Arial;
	font-size:8px;
	color:#fff;
	font-weight:bold;
	box-shadow:0 1px 1px #DE4900;
}
.z-Home {
	background-position:8px -72px;
	position:relative;
	text-align:center;
}
a.z-sort {
	height:32px;
	padding:0 25px 0 10px;
	text-align:center;
	display:inline-block;
	position:relative;
	line-height:32px;
	color:#fff;
	background-position:right -110px;
	overflow:hidden;
}
a.z-RCornerBtn {
	height:32px;
	padding:0 10px 0 10px;
	text-align:center;
	display:inline-block;
	position:relative;
	line-height:32px;
	color:#fff;
	background-position:right -110px;
	overflow:hidden;
}
a.z-Site {
	display:inline-block;
	background-position:8px -317px;
}
.z-sort i,.z-RCornerBtn i {
	width:5px;
	height:34px;
	display:inline-block;
	background-position:0 -110px;
	background-color:#E4393C;
	position:absolute;
	left:0;
	top:0;
}
.z-Sswt,.z-Sswd {
	position:absolute;
	right:9px;
	height:0;
	border:5px transparent solid;
	display:inline-block;
}
.z-Sswt {
	border-bottom-color:#FEFEFF;
	top:5px;
}
.z-Sswd {
	border-top-color:#FFA567;
	top:18px;
}
.z-SswOn,.z-SswNt {
	position:absolute;
	right:9px;
	height:0;
	border:5px transparent solid;
	display:inline-block;
}
.z-SswOn {
	border-bottom-color:#FFA567;
	top:5px;
}
.z-SswNt {
	border-top-color:#FEFEFF;
	top:18px;
}
.g-header {
	height:44px;
	background:#E4393C;
	border-bottom:1px solid #e35b00;
	position:relative;
}
.g-header h2 {
	text-align:center;
	color:#fff;
	line-height:44px;
	text-shadow:1px 1px 0 #C04D00;
}
.g-header .head-l,.g-header .head-r {
	position:absolute;
	top:6px;
}
.g-header .head-l {
	left:3px;
}
.z-HReturn {
	height:33px;
	line-height:33px;
	padding-left:15px;
	display:inline-block;
	position:relative;
}
.z-HReturn b {
	display:inline-block;
	background-position:right -196px;
	padding:0 11px 0 5px;
	color:#fff;
}
.z-HReturn s {
	width:15px;
	height:33px;
	background-position:0 -162px;
	display:inline-block;
	position:absolute;
	left:0;
	top:0;
	overflow:hidden;
}
.g-header .head-r {
	right:6px;
}
.footer {
	text-align:center;
	position:relative;
	padding-bottom:10px;
}
.footer .z-top {
	width:40px;
	height:40px;
	display:inline-block;
	position:fixed;
	right:5px;
	bottom:7px;
	background:rgba(0,0,0,0.2);
	border-radius:3px;
}
.footer .z-top .z-arrow {
	width:10px;
	height:10px;
	margin-top:17px;
	margin-right:1px;
	margin-left:2px;
	border-color:#fff;
	border-width:2px 0 0 2px;
}
.footer a {
	color:#999;
}
.footer .m-ftA {
	padding-top:5px;
}
.footer .m-ftA a {
	padding:8px 15px;
	display:inline-block;
}
.footer p.grayc span {
	margin-left:3px;
	margin-right:8px;
}
.footer .u-ft-nav {
	width:100%;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	margin:0 auto;
	background:#fafafa;
	display:box;
	display:-webkit-box;
	display:-moz-box;
}
.footer .u-ft-nav span {
	height:30px;
	line-height:30px;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
	display:block;
	position:relative;
}
.footer .u-ft-nav span b {
	height:30px;
	width:1px;
	position:absolute;
	top:0;
	right:0;
	overflow:hidden;
	background:#DDD;
}
.footer .u-ft-nav span a {
	display:block;
}
.footer .u-ft-nav span a.Exit {
	display:inline-block;
	color:#2af;
	margin-left:8px;
}
.footer .u-ft-nav span a.Member {
	display:inline-block;
	color:#2af;
}
.Progress-bar:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.Progress-bar {
	zoom:1;
}
.u-progress {
	height:5px;
	background:#e7e7e7;
	position:relative;
	border-radius:3px;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);
	overflow:hidden;
}
.u-progress .pgbar,.u-progress .pging {
	display:block;
	width:100%;
	height:100%;
	border-radius:3px;
}
.u-progress .pging {
	background:#E4393C;
}
.Progress-bar .Pro-bar-li li {
	float:left;
	color:#AEADAD;
	font-size:10px;
	font-family:����;
	border:none;
	margin:0;
	padding:0;
	box-shadow:none;
	border-radius:none;
}
.Progress-bar .Pro-bar-li li em {
	display:block;
	font-size:10px;
	font-family:arial;
	height:14px;
	padding:3px 0 0 0;
	font-style:normal;
}
.Progress-bar .Pro-bar-li li.P-bar01 em {
	color:#E4393C;
}
.Progress-bar .Pro-bar-li li.P-bar02 em {
	color:#777;
}
.Progress-bar .Pro-bar-li li.P-bar03 em {
	color:#2AF;
}
.Progress-bar .Pro-bar-li li.P-bar01 {
	width:30%;
	text-align:left;
}
.Progress-bar .Pro-bar-li li.P-bar02 {
	width:40%;
	text-align:center;
}
.Progress-bar .Pro-bar-li li.P-bar03 {
	width:30%;
	float:right;
	text-align:right;
}
.loading-progress {
	height:8px;
	overflow:hidden;
	border-radius:3px;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.2);
	background:#f7f7f7;
	margin-top:15px;
}
.loading-progress .loading-pgbar,.loading-progress .loading-pging {
	display:block;
	width:100%;
	height:100%;
}
.loading-progress .loading-pging {
	background:-webkit-linear-gradient(-45deg,#ff8937 0,#ff8937 25%,#E4393C 25%,#E4393C 50%,#ff8937 50%,#ff8937 75%,#E4393C 75%,#E4393C);
	-webkit-background-size:20px 20px;
	-moz-background-size:20px 20px;
	-ms-background-size:20px 20px;
	background-size:20px 20px;
	-webkit-animation:loading-pging 0.5s linear infinite;
	-moz-animation:loading-pging 0.5s linear infinite;
	-ms-animation:loading-pging 0.5s linear infinite;
	animation:loading-pging 0.5s linear infinite;
}
@-webkit-keyframes loading-pging {
	0% {
	background-position:0 0;
}
100% {
	background-position:20px 0;
}
}@-moz-keyframes loading-pging {
	0% {
	background-position:0 0;
}
100% {
	background-position:20px 0;
}
}@-ms-keyframes loading-pging {
	0% {
	background-position:0 0;
}
100% {
	background-position:20px 0;
}
}@keyframes loading-pging {
	0% {
	background-position:0 0;
}
100% {
	background-position:20px 0;
}
}.z-minheight {
	min-height:90px;
}
.loading,a.loading {
	clear:both;
	width:100%;
	display:block;
	background:#f4f4f4;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#999;
	font-size:12px;
	box-shadow:0 1px 1px #ddd inset;
}
.loading b {
	background:url(../../images/logining.gif);
	background-size:12px auto;
	background-repeat:no-repeat;
	width:12px;
	height:12px;
	display:inline-block;
	margin-right:5px;
	position:relative;
	top:2px;
}
.haveNot {
	width:100%;
	margin:20px auto;
	text-align:center;
	color:#bbb;
	font-size:16px;
}
.haveNot s {
	display:block;
	background-position:0 -102px;
	background-repeat:no-repeat;
	width:57px;
	height:57px;
	margin:0 auto;
}
.haveNot p {
	margin-top:15px;
}
div.pageDialogBG {
	width:100%;
	height:100%;
	position:fixed;
	z-index:101;
	top:0;
	left:0;
	opacity:0.3;
	background:#000;
	display:none;
}
div.pageDialog {
	position:fixed;
	z-index:102;
	top:0;
	left:0;
	display:none;
}
.Prompt {
	color:#fff;
	border-radius:5px;
	width:100%;
	height:100%;
	line-height:45px;
	margin:0 auto;
	text-align:center;
	background:rgba(0,0,0,0.7);
	box-shadow:0 2px 3px #9b9b9b;
	font-size:16px;
}
.Prompt s {
	width:23px;
	height:23px;
	background-repeat:no-repeat;
	background-position:0 -74px;
	display:inline-block;
	position:relative;
	top:5px;
	margin-right:5px;
}
.u-tipsEject {
	background:#fff;
	border-radius:5px;
	border:none;
	box-shadow:0 1px 1px rgba(0,0,0,0.3);
}
.u-tips-txt {
	text-align:center;
	line-height:70px;
	font-size:14px;
	color:#999;
	border-bottom:1px solid #EEE;
}
.u-tipsEject .u-Btn {
	margin:12px 20px;
}
.u-tipsEject a.z-DefineBtn {
	box-shadow:none;
}
.u-tipsEject .u-Btn a.z-CloseBtn {
	background:#EEE;
	color:#999;
	border:1px solid #EEE;
	box-shadow:none;
}
@media screen and (max-device-width:320px) {
	body {
	-webkit-text-size-adjust:none;
}
}@media screen and (max-device-width:480px) {
	body {
	-webkit-text-size-adjust:none;
}
}@media only screen and (-webkit-min-device-pixel-ratio:2) {
	body {
	-webkit-text-size-adjust:none;
}
}@media only screen and (min-device-width:768px) and (max-device-width:1024px) {
	body {
	-webkit-text-size-adjust:none;
}
}.z-class-icon01 s,.z-class-icon02 s,.z-class-icon03 s,.z-class-icon04 s,.z-class-icon05 s,.z-class-icon06 s,.z-class-icon07 s {
	background:url(../../images/new-class-icon.png);
	/* background-size:102px auto; */
}
.z-class-icon01,.z-class-icon02,.z-class-icon03,.z-class-icon04,.z-class-icon05,.z-class-icon06,.z-class-icon07 {
	display:inline-block;
	position:relative;
	padding-left:15px;
	padding-right:5px;
	line-height:20px!important;
	color:#666;
}
.z-class-icon01 s,.z-class-icon02 s,.z-class-icon03 s,.z-class-icon04 s,.z-class-icon05 s,.z-class-icon06 s,.z-class-icon07 s {
	position:absolute;
	width:13px;
	height:13px;
	display:inline-block;
	top:4px;
	top:2px\9;
	_top:4px;
	left:0;
}
.z-class-icon01 s {
	background-position:-1px 0;
}
.z-class-icon02 s {
	background-position:-18px 0;
}
.z-class-icon03 s {
	background-position:-35px 0;
}
.z-class-icon04 s {
	background-position:-52px 0;
}
.z-class-icon05 s {
	background-position:-69px 0;
}
.z-class-icon06 s {
	background-position:-86px 0;
}
.z-class-icon07 s {
	background-position:-106px -1px;
}

/**** NEW FOOTER ******/
.mai_footer {
    background: none repeat scroll 0 0 #f7f7f7;
    border-top: 1px solid #ddd;
    bottom: 0;
    clear: both;
    height: 48px;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.mai_footer a {
    color: #888;
    display: block;
    float: left;
    height: 44px;
    padding-top: 3px;
    text-align: center;
    width: 20%;
}
.mai_footer a.nav-crt {
    color: #e4393c;
}
.mai_footer a i {
    background: url("../../images/mobile/footer_icon.png") repeat scroll 0 0 / 28px auto rgba(0, 0, 0, 0);
    display: block;
    margin: 0 auto 1px;
}
.mai_footer li.f_home i {
    background-position: 0 -26px;
    height: 25px;
    width: 27px;
}
.mai_footer li.f_home a.nav-crt i {
    background-position: 0 0;
}
.mai_footer li.f_whole i {
    background-position: 0 -78px;
    height: 25px;
    position: relative;
    top: 1px;
    width: 23px;
}
.mai_footer li.f_whole a.nav-crt i {
    background-position: 0 -52px;
}
.mai_footer li.f_jiexiao i {
    background-position: 0 -218px;
    height: 22px;
    margin-bottom: 4px;
    position: relative;
    top: 3px;
    width: 23px;
}
.mai_footer li.f_jiexiao a.nav-crt i {
    background-position: 0 -197px;
}
.mai_footer li.f_car i {
    background-position: 0 -128px;
    height: 23px;
    margin-bottom: 3px;
    position: relative;
    top: 2px;
    width: 28px;
}
.mai_footer li.f_car a.nav-crt i {
    background-position: 0 -104px;
}
.mai_footer li.f_personal i {
    background-position: 0 -175px;
    height: 22px;
    margin-bottom: 4px;
    position: relative;
    top: 3px;
    width: 20px;
}
.mai_footer li.f_personal a.nav-crt i {
    background-position: 0 -152px;
}
.mai_footer li.f_car b {
    background: none repeat scroll 0 0 #e4393c;
    border-radius: 16px;
    color: #fff;
    display: none;
    font-family: Arial;
    font-size: 10px;
    font-style: normal;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    padding: 1px;
    position: absolute;
    right: -8px;
    text-align: center;
    top: -5px;
    width: 16px;
}
.preloader {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 15px;
    height: 100px;
    left: 0;
    line-height: 140px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: -100px;
    transition: all 300ms ease 0s;
    width: 100%;
    z-index: 0;
}
.preloader.visible {
    opacity: 1;
    top: 0;
}









@charset "utf-8";
.R-content {
    width: 100%;
}
.R-content .member-t {
    border-bottom: 1px solid #ededed;
    padding-left: 1em;
}
.R-content .success-invitation {
    background: #fcfcfc none repeat scroll 0 0;
    border: 1px solid #f5f5f5;
    line-height: 22px;
    padding: 10px 0 20px 30px;
}
.R-content .success-invitation button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.R-content .success-invitation #txtInfo {
    border: 1px solid #ddd;
    line-height: 18px;
}
.R-content .success-invitation #d_clip_button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    line-height: 18px;
    margin-left: 5px;
    padding: 0 10px;
}
.R-content .get-tips {
    background: #fffbe3 none repeat scroll 0 0;
    border: 1px solid #fedd98;
    padding: 5px;
}
.R-content .list-tab {
    margin-top: 10px;
    width: 100%;
}
.R-content .list-tab .w200 {
    width: 25%;
}
.R-content .list-tab .w20 {
    width: 20%;
}
.R-content .list-tab .w40 {
    width: 40%;
}
.R-content .list-tab .w10 {
    width: 10%;
}
.R-content .list-tab .w35 {
    width: 35%;
}
.R-content .list-tab .w15 {
    width: 15%;
}
.R-content .list-tab ul {
    clear: both;
    width: 100%;
}
.R-content .list-tab .listTitle li {
    background: #f9f9f9 none repeat scroll 0 0;
    /*border-bottom: 1px solid #eee;*/
    border-top: 1px solid #eee;
    line-height: 18px;
}
.R-content .list-tab ul li {
    float: left;
    text-align: center;
}
.R-content .list-tab .tips-con {
    line-height: 100px;
    text-align: center;
    width: 100%;
}
.R-content .total {
    background: #fffce2 none repeat scroll 0 0;
    border: 1px solid #ffdd99;
    line-height: 22px;
    margin-top: 5px;
    padding: 5px;
}
.R-content .total dl dd {
    float: left;
}
.R-content .total dl dt {
    clear: both;
}
.R-content .total a {
    border-radius: 2px;
    line-height: 19px;
    padding: 0 19px;
}
.R-content .bluebut {
    background: #49b8ff none repeat scroll 0 0;
    border: 1px solid #1ba3fa;
    color: #fff;
    margin-left: 10px;
    padding: 2px;
}
.R-content .orangebut {
    background: #ff6600 none repeat scroll 0 0;
    border: 1px solid #f65802;
    color: #fff;
}
.subMenu {
    border-bottom: 1px solid #44b6ff;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.subMenu a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-position: 0 -47px;
    border-color: #e0e0e0 #e0e0e0 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid solid none none;
    border-width: 1px 1px 0 0;
    color: #43b6ff;
    cursor: pointer;
    float: left;
    font-family: "宋体";
    font-size: 14px;
    height: 29px;
    line-height: 29px;
    padding: 0 20px;
    position: relative;
    text-align: center;
}
.subMenu a:hover {
    color: #43b6ff;
}
.subMenu a i {
    background: #f60 none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    height: 9px;
    line-height: 9px;
    margin-left: -1px;
    padding: 2px;
    position: absolute;
    top: 1px;
}
.subMenu a.current {
    background: #44b6ff none repeat scroll 0 0;
    border-top: 0 none;
    color: #fff;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
}
.subMenu a.current:hover {
    color: #fff;
}
.subMenu a.current2 {
    border-left: 1px solid #e0e0e0;
    cursor: pointer;
}
.Apply-con {
    margin-top: 20px;
    width: 100%;
}
.Apply-con dl {
    clear: both;
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}
.Apply-con dt {
   color: #666;
    float: left;
    line-height: 27px;
    text-align: left;
}
.Apply-con dd {
    float: left;
    line-height: 27px;
    width: 73%;
}
.Apply-con dd b {
    float: left;
    font-weight: normal;
    margin-right: 5px;
}
.Apply-con dd em {
    background-position: -102px -99px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 15px;
    left: 3px;
    margin-right: 8px;
    position: relative;
    top: 6px;
    width: 15px;
}
.Apply-con .inp-money, .Apply-con .input-txt {
    border-color: #c2c2c2 #e1e1e1 #e1e1e1 #c2c2c2;
    border-style: solid;
    border-width: 1px;
    display: block;
    float: left;
    font-size: 14px;
    height: 27px;
    line-height: 25px;
    padding: 0 3px;
    vertical-align: middle;
}
.txtAri {
    font-family: Arial,Helvetica,sans-serif;
}
.Apply-con .inp-money {
    margin-right: 5px;
    vertical-align: middle;
    width: 20%;
}
.Apply-con .input-txt {
    width: 50%;
}
.Apply-button {
    margin-top: 15px;
    text-align: left;
    width: 100%;
}
.Apply-button a {
    font-weight: bold;
}
.Apply-con span.orange {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.Apply-con span.oran {
    color: #f60;
    display: inline-block;
    height: 25px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.recharge {
    padding-left: 30px;
    width: 750px;
}